<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_progress_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,84},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>battle_progress_bar_01_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,124},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>battle_progress_bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,164},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>battle_progress_bar_02_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,204},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>battle_progress_bar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,244},{100,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,34}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>guide_redarrow_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,284},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>other_hpbar_gray_M_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,4},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>other_hpbar_purple_M_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,44},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>tavern_100DunZhanShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{250,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,193}}</string>
                <key>sourceSize</key>
                <string>{250,193}</string>
            </dict>
            <key>tavern_101AnQiShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,203},{250,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,193}}</string>
                <key>sourceSize</key>
                <string>{250,193}</string>
            </dict>
            <key>tavern_102ShenPanMuShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,4},{250,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,193}}</string>
                <key>sourceSize</key>
                <string>{250,193}</string>
            </dict>
            <key>tavern_103SaManWuYi.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,203},{250,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,193}}</string>
                <key>sourceSize</key>
                <string>{250,193}</string>
            </dict>
            <key>tavern_104CiKe.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,4},{250,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,193}}</string>
                <key>sourceSize</key>
                <string>{250,193}</string>
            </dict>
            <key>tavern_105KuangZhanShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,203},{250,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,193}}</string>
                <key>sourceSize</key>
                <string>{250,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other2.pvr.ccz</string>
            <key>size</key>
            <string>{878,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75e852a2b1b651f48558fe1ff7e4207c:3/3$</string>
            <key>textureFileName</key>
            <string>other2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
