<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>connection_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1004},{40,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,10}}</string>
                <key>sourceSize</key>
                <string>{40,10}</string>
            </dict>
            <key>connection_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1004},{40,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,10}}</string>
                <key>sourceSize</key>
                <string>{40,10}</string>
            </dict>
            <key>guide_redarrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,609},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1004},{20,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,1}}</string>
                <key>sourceSize</key>
                <string>{20,1}</string>
            </dict>
            <key>loading_sword_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,624},{502,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,142}}</string>
                <key>sourceSize</key>
                <string>{502,142}</string>
            </dict>
            <key>opacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,661},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>other_bg_boss_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,971},{82,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,48}}</string>
                <key>sourceSize</key>
                <string>{82,48}</string>
            </dict>
            <key>other_bg_boss_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,4},{178,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,144}}</string>
                <key>sourceSize</key>
                <string>{178,144}</string>
            </dict>
            <key>other_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,570},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>other_chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,989},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,28}}</string>
                <key>sourceSize</key>
                <string>{38,28}</string>
            </dict>
            <key>other_chat_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,34},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>other_dianshichengjin_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1004},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>other_hpbar_L1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,234},{538,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,34}}</string>
                <key>sourceSize</key>
                <string>{538,34}</string>
            </dict>
            <key>other_hpbar_L2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,274},{538,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,34}}</string>
                <key>sourceSize</key>
                <string>{538,34}</string>
            </dict>
            <key>other_hpbar_L3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,314},{538,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,34}}</string>
                <key>sourceSize</key>
                <string>{538,34}</string>
            </dict>
            <key>other_hpbar_L4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,354},{538,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,34}}</string>
                <key>sourceSize</key>
                <string>{538,34}</string>
            </dict>
            <key>other_hpbar_L5.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,394},{538,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,34}}</string>
                <key>sourceSize</key>
                <string>{538,34}</string>
            </dict>
            <key>other_hpbar_L6.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,434},{538,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,34}}</string>
                <key>sourceSize</key>
                <string>{538,34}</string>
            </dict>
            <key>other_hpbar_L7.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,474},{538,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,34}}</string>
                <key>sourceSize</key>
                <string>{538,34}</string>
            </dict>
            <key>other_hpbar_golden_XL.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,174},{789,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{789,54}}</string>
                <key>sourceSize</key>
                <string>{789,54}</string>
            </dict>
            <key>other_hpbar_gray_XL.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,34},{806,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{806,64}}</string>
                <key>sourceSize</key>
                <string>{806,64}</string>
            </dict>
            <key>other_hpbar_purple_XL.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,104},{804,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,64}}</string>
                <key>sourceSize</key>
                <string>{804,64}</string>
            </dict>
            <key>other_hpbar_shining.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,742},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>other_hpbar_shining_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,710},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>other_lighttriangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,971},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>other_lock_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,628},{282,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,370}}</string>
                <key>sourceSize</key>
                <string>{282,370}</string>
            </dict>
            <key>other_lock_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,514},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>other_progress_bar_gray_VL.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{820,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,24}}</string>
                <key>sourceSize</key>
                <string>{820,24}</string>
            </dict>
            <key>other_progress_bar_gray_XL.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,989},{488,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,26}}</string>
                <key>sourceSize</key>
                <string>{488,26}</string>
            </dict>
            <key>other_pve_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,514},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>other_pve_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,514},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>other_shaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,971},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>other_shoucichongzhi_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,234},{470,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,388}}</string>
                <key>sourceSize</key>
                <string>{470,388}</string>
            </dict>
            <key>other_tishengchenggong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,514},{132,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,104}}</string>
                <key>sourceSize</key>
                <string>{132,104}</string>
            </dict>
            <key>other_tishengchenggong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,514},{132,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,104}}</string>
                <key>sourceSize</key>
                <string>{132,104}</string>
            </dict>
            <key>other_xiaoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,635},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>other_yeqian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,154},{199,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,74}}</string>
                <key>sourceSize</key>
                <string>{199,74}</string>
            </dict>
            <key>rule_tianti.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,628},{191,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,355}}</string>
                <key>sourceSize</key>
                <string>{191,355}</string>
            </dict>
            <key>tavern_110YinYouShiRen.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,772},{250,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,193}}</string>
                <key>sourceSize</key>
                <string>{250,193}</string>
            </dict>
            <key>tavern_111YuanSuShi.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,772},{250,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,193}}</string>
                <key>sourceSize</key>
                <string>{250,193}</string>
            </dict>
            <key>tishengjiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,683},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other0.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75e852a2b1b651f48558fe1ff7e4207c:1/3$</string>
            <key>textureFileName</key>
            <string>other0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
