<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,850},{334,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,126}}</string>
                <key>sourceSize</key>
                <string>{334,126}</string>
            </dict>
            <key>background_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,730},{369,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,248}}</string>
                <key>sourceSize</key>
                <string>{369,248}</string>
            </dict>
            <key>background_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,984},{285,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,29}}</string>
                <key>sourceSize</key>
                <string>{285,29}</string>
            </dict>
            <key>background_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,982},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>background_016_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,984},{90,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,31}}</string>
                <key>sourceSize</key>
                <string>{90,31}</string>
            </dict>
            <key>background_016_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,982},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>background_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,4},{14,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,212}}</string>
                <key>sourceSize</key>
                <string>{14,212}</string>
            </dict>
            <key>background_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,982},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,28}}</string>
                <key>sourceSize</key>
                <string>{108,28}</string>
            </dict>
            <key>background_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,730},{166,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,282}}</string>
                <key>sourceSize</key>
                <string>{166,282}</string>
            </dict>
            <key>background_jingcaihuodongtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,581},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>background_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,627},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>background_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{960,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,720}}</string>
                <key>sourceSize</key>
                <string>{960,720}</string>
            </dict>
            <key>background_num_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,222},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>background_number_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,262},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>background_vip_caibao_diwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,730},{454,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,114}}</string>
                <key>sourceSize</key>
                <string>{454,114}</string>
            </dict>
            <key>background_yeqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,982},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,18}}</string>
                <key>sourceSize</key>
                <string>{8,18}</string>
            </dict>
            <key>emozhita_emo.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,850},{126,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,166}}</string>
                <key>sourceSize</key>
                <string>{126,166}</string>
            </dict>
            <key>emozhita_emo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,298},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>pvp_ladder_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,4},{8,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,256}}</string>
                <key>sourceSize</key>
                <string>{8,256}</string>
            </dict>
            <key>pvp_ladder_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,266},{8,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,256}}</string>
                <key>sourceSize</key>
                <string>{8,256}</string>
            </dict>
            <key>pvp_ladder_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,528},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background0.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e112543444d76383da7b9b48f01fac7b:1/6$</string>
            <key>textureFileName</key>
            <string>background0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
