<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,556},{281,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,77}}</string>
                <key>sourceSize</key>
                <string>{281,77}</string>
            </dict>
            <key>background_chat_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{438,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,305}}</string>
                <key>sourceSize</key>
                <string>{438,305}</string>
            </dict>
            <key>background_chongzhi_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,635},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>background_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,801},{438,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,70}}</string>
                <key>sourceSize</key>
                <string>{438,70}</string>
            </dict>
            <key>background_golden_equipment.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,4},{358,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,338}}</string>
                <key>sourceSize</key>
                <string>{358,338}</string>
            </dict>
            <key>background_haoyou_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,877},{357,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,98}}</string>
                <key>sourceSize</key>
                <string>{357,98}</string>
            </dict>
            <key>background_haoyou_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,348},{357,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,98}}</string>
                <key>sourceSize</key>
                <string>{357,98}</string>
            </dict>
            <key>background_haoyou_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,452},{357,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,98}}</string>
                <key>sourceSize</key>
                <string>{357,98}</string>
            </dict>
            <key>background_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,556},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>background_number_099.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,881},{280,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,38}}</string>
                <key>sourceSize</key>
                <string>{280,38}</string>
            </dict>
            <key>background_portrait_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,781},{84,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,83}}</string>
                <key>sourceSize</key>
                <string>{84,83}</string>
            </dict>
            <key>background_portrait_01_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,791},{198,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,84}}</string>
                <key>sourceSize</key>
                <string>{198,84}</string>
            </dict>
            <key>background_portrait_01_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,791},{198,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,84}}</string>
                <key>sourceSize</key>
                <string>{198,84}</string>
            </dict>
            <key>background_quest_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,639},{190,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,146}}</string>
                <key>sourceSize</key>
                <string>{190,146}</string>
            </dict>
            <key>background_quest_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,639},{190,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,146}}</string>
                <key>sourceSize</key>
                <string>{190,146}</string>
            </dict>
            <key>background_title_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,925},{180,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,48}}</string>
                <key>sourceSize</key>
                <string>{180,48}</string>
            </dict>
            <key>background_xinghun_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,395},{258,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,132}}</string>
                <key>sourceSize</key>
                <string>{258,132}</string>
            </dict>
            <key>background_zhanxing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,315},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>bg_portrait_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,881},{155,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,39}}</string>
                <key>sourceSize</key>
                <string>{155,39}</string>
            </dict>
            <key>bg_portrait_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,533},{252,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,96}}</string>
                <key>sourceSize</key>
                <string>{252,96}</string>
            </dict>
            <key>emozhita_emo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,870},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>emozhita_emo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,348},{72,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,39}}</string>
                <key>sourceSize</key>
                <string>{72,39}</string>
            </dict>
            <key>kuang-huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,681},{425,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,114}}</string>
                <key>sourceSize</key>
                <string>{425,114}</string>
            </dict>
            <key>pvp_ladder_step1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,4},{197,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,385}}</string>
                <key>sourceSize</key>
                <string>{197,385}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background4.pvr.ccz</string>
            <key>size</key>
            <string>{1013,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e112543444d76383da7b9b48f01fac7b:5/6$</string>
            <key>textureFileName</key>
            <string>background4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
