<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,529},{208,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,48}}</string>
                <key>sourceSize</key>
                <string>{208,48}</string>
            </dict>
            <key>background_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,988},{61,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,14}}</string>
                <key>sourceSize</key>
                <string>{61,14}</string>
            </dict>
            <key>background_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,988},{84,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,27}}</string>
                <key>sourceSize</key>
                <string>{84,27}</string>
            </dict>
            <key>background_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,802},{778,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,180}}</string>
                <key>sourceSize</key>
                <string>{778,180}</string>
            </dict>
            <key>background_023_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,320},{222,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,138}}</string>
                <key>sourceSize</key>
                <string>{222,138}</string>
            </dict>
            <key>background_023_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,176},{142,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,138}}</string>
                <key>sourceSize</key>
                <string>{142,138}</string>
            </dict>
            <key>background_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,566},{778,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,230}}</string>
                <key>sourceSize</key>
                <string>{778,230}</string>
            </dict>
            <key>background_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,246},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>background_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,246},{784,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{784,314}}</string>
                <key>sourceSize</key>
                <string>{784,314}</string>
            </dict>
            <key>background_chat_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,200},{846,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,40}}</string>
                <key>sourceSize</key>
                <string>{846,40}</string>
            </dict>
            <key>background_chongzhi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,765},{226,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,140}}</string>
                <key>sourceSize</key>
                <string>{226,140}</string>
            </dict>
            <key>background_jingcaihuodong_kapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,4},{142,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,166}}</string>
                <key>sourceSize</key>
                <string>{142,166}</string>
            </dict>
            <key>background_portrait_001_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,911},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>background_portrait_001_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,911},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>cailiaoshoujihuawen.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{860,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,190}}</string>
                <key>sourceSize</key>
                <string>{860,190}</string>
            </dict>
            <key>gengxingonggaobiaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,464},{219,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,59}}</string>
                <key>sourceSize</key>
                <string>{219,59}</string>
            </dict>
            <key>pvp_ladder_step2.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,583},{231,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,176}}</string>
                <key>sourceSize</key>
                <string>{231,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background2.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e112543444d76383da7b9b48f01fac7b:3/6$</string>
            <key>textureFileName</key>
            <string>background2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
