<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,551},{372,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,388}}</string>
                <key>sourceSize</key>
                <string>{372,388}</string>
            </dict>
            <key>background_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,343},{960,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,202}}</string>
                <key>sourceSize</key>
                <string>{960,202}</string>
            </dict>
            <key>background_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,551},{448,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,90}}</string>
                <key>sourceSize</key>
                <string>{448,90}</string>
            </dict>
            <key>background_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,856},{282,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,83}}</string>
                <key>sourceSize</key>
                <string>{282,83}</string>
            </dict>
            <key>background_dianshichengjin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,647},{327,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,203}}</string>
                <key>sourceSize</key>
                <string>{327,203}</string>
            </dict>
            <key>background_flag_099.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,551},{183,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,399}}</string>
                <key>sourceSize</key>
                <string>{183,399}</string>
            </dict>
            <key>background_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{960,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,333}}</string>
                <key>sourceSize</key>
                <string>{960,333}</string>
            </dict>
            <key>background_portrait_001_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,728},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>background_portrait_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,945},{175,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,70}}</string>
                <key>sourceSize</key>
                <string>{175,70}</string>
            </dict>
            <key>background_title_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,945},{374,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,74}}</string>
                <key>sourceSize</key>
                <string>{374,74}</string>
            </dict>
            <key>background_title_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,956},{298,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,60}}</string>
                <key>sourceSize</key>
                <string>{298,60}</string>
            </dict>
            <key>background_worldboss_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,856},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>emozhita_emo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,647},{104,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,75}}</string>
                <key>sourceSize</key>
                <string>{104,75}</string>
            </dict>
            <key>emozhita_laoshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,826},{58,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,16}}</string>
                <key>sourceSize</key>
                <string>{58,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background1.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e112543444d76383da7b9b48f01fac7b:2/6$</string>
            <key>textureFileName</key>
            <string>background1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
