<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,150},{294,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,136}}</string>
                <key>sourceSize</key>
                <string>{294,136}</string>
            </dict>
            <key>background_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,818},{206,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,190}}</string>
                <key>sourceSize</key>
                <string>{206,190}</string>
            </dict>
            <key>background_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,432},{364,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,380}}</string>
                <key>sourceSize</key>
                <string>{364,380}</string>
            </dict>
            <key>background_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,490},{242,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,64}}</string>
                <key>sourceSize</key>
                <string>{242,64}</string>
            </dict>
            <key>background_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,490},{356,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,317}}</string>
                <key>sourceSize</key>
                <string>{356,317}</string>
            </dict>
            <key>background_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,560},{237,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,82}}</string>
                <key>sourceSize</key>
                <string>{237,82}</string>
            </dict>
            <key>background_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,386},{367,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,40}}</string>
                <key>sourceSize</key>
                <string>{367,40}</string>
            </dict>
            <key>background_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,104},{326,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,40}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>background_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{654,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,244}}</string>
                <key>sourceSize</key>
                <string>{654,244}</string>
            </dict>
            <key>background_haoyou_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,818},{357,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,98}}</string>
                <key>sourceSize</key>
                <string>{357,98}</string>
            </dict>
            <key>background_portrait_01_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,930},{198,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,84}}</string>
                <key>sourceSize</key>
                <string>{198,84}</string>
            </dict>
            <key>background_portrait_01_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,930},{198,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,84}}</string>
                <key>sourceSize</key>
                <string>{198,84}</string>
            </dict>
            <key>background_portrait_01_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,922},{198,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,84}}</string>
                <key>sourceSize</key>
                <string>{198,84}</string>
            </dict>
            <key>background_title_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,292},{374,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,88}}</string>
                <key>sourceSize</key>
                <string>{374,88}</string>
            </dict>
            <key>background_title_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,648},{232,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,60}}</string>
                <key>sourceSize</key>
                <string>{232,60}</string>
            </dict>
            <key>background_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,818},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>background_zhanxing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,306},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>background_zhanxing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,398},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>emozhita_emo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,254},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>emozhita_emo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,150},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,39}}</string>
                <key>sourceSize</key>
                <string>{54,39}</string>
            </dict>
            <key>pvp_ladder_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,254},{512,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,225}}</string>
                <key>sourceSize</key>
                <string>{512,225}</string>
            </dict>
            <key>pvp_ladder_step3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,714},{203,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,210}}</string>
                <key>sourceSize</key>
                <string>{203,210}</string>
            </dict>
            <key>shensechendi.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,4},{339,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,94}}</string>
                <key>sourceSize</key>
                <string>{339,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background3.pvr.ccz</string>
            <key>size</key>
            <string>{1022,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e112543444d76383da7b9b48f01fac7b:4/6$</string>
            <key>textureFileName</key>
            <string>background3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
