<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>106.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>107.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,370},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>108.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,4},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>109.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,370},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>banshenxiang6.pvr.ccz</string>
            <key>size</key>
            <string>{734,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e600fae33599036e899c6b05de5f1fa:7/9$</string>
            <key>textureFileName</key>
            <string>banshenxiang6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
