<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_stage_jingjichang_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jingjichang_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jingjichang_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_junying_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_junying_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,628},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_junying_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,784},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_junying_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_junying_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_junying_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_junying_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_junying_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,628},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_junying_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,784},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_junying_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_mudi_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_mudi_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_mudi_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_mudi_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_mudi_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_mudi_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_mudi_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_mudi_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_mudi_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_mudi_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_muyuan_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_muyuan_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,628},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_muyuan_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,784},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_senlin_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_senlin_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_senlin_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_senlin_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_senlin_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_senlin_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_senlin_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_senlin_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_senlin_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,628},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_senlin_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,784},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_xiaozhen_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_xiaozhen_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_xiaozhen_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,628},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_xiaozhen_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,784},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_xiaozhen_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_xiaozhen_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_xiaozhen_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_xiaozhen_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_xiaozhen_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_xiaozhen_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,628},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_zhaoze_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,784},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_zhaoze_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_zhaoze_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_zhaoze_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_zhaoze_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,628},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_zhaoze_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,784},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_zhaoze_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,628},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_zhaoze_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,784},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_zhaoze_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,628},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_zhaoze_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,784},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage0.pvr.ccz</string>
            <key>size</key>
            <string>{974,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e2986edaddb514a2e7c6c6146384c33:1/3$</string>
            <key>textureFileName</key>
            <string>stage0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
