<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_stage_huangcun_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huangcun_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huangcun_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huangcun_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huangcun_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huangcun_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huangcun_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huangcun_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huangcun_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,4},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huangcun_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huangcun_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,628},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_huangcun_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,628},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_huoshan_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,628},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_huoshan_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huoshan_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huoshan_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huoshan_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huoshan_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huoshan_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huoshan_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huoshan_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,160},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huoshan_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huoshan_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_huoshan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,628},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_huoshan_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,628},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_jiaotang_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,628},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_jiaotang_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jiaotang_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jiaotang_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jiaotang_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jiaotang_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jiaotang_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jiaotang_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,316},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jiaotang_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jiaotang_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jiaotang_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jiaotang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,628},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_jiaotang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,628},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_jingjichang_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_jingjichang_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jingjichang_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jingjichang_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jingjichang_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jingjichang_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jingjichang_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,472},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jingjichang_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,628},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>icon_stage_jingjichang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,784},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_jingjichang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_junying_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_junying_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_junying_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_mudi_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_mudi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_mudi_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_muyuan_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_muyuan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_muyuan_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,736},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_senlin_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,844},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_senlin_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,892},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_senlin_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,844},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_xiaozhen_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,844},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_xiaozhen_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,844},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_xiaozhen_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,844},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_zhaoze_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,844},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_zhaoze_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,844},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_stage_zhaoze_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,844},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage1.pvr.ccz</string>
            <key>size</key>
            <string>{974,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e2986edaddb514a2e7c6c6146384c33:2/3$</string>
            <key>textureFileName</key>
            <string>stage1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
