<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_111_Ce_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,33},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,28}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>p_111_Ce_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,37},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>p_111_Ce_DangBu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>p_111_Ce_HouBai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,27},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>p_111_Ce_HouBai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,27},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>p_111_Ce_HouBai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,33},{15,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{15,28}</string>
            </dict>
            <key>p_111_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>p_111_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>p_111_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>p_111_Ce_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>p_111_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,44},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>p_111_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{17,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,42}}</string>
                <key>sourceSize</key>
                <string>{17,42}</string>
            </dict>
            <key>p_111_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,31},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>p_111_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{15,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,40}}</string>
                <key>sourceSize</key>
                <string>{15,40}</string>
            </dict>
            <key>p_111_Qian_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,31},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>p_111_Qian_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,27},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>p_111_Qian_DangBu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,33},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>p_111_Qian_HouBai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,42},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>p_111_Qian_HouBai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,40},{44,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,21}}</string>
                <key>sourceSize</key>
                <string>{44,21}</string>
            </dict>
            <key>p_111_Qian_HouBai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{52,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,23}}</string>
                <key>sourceSize</key>
                <string>{52,23}</string>
            </dict>
            <key>p_111_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>p_111_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>p_111_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,34},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>p_111_Qian_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>p_111_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,44},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>p_111_Qian_YaoDaiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,30},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>p_111_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{19,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,40}}</string>
                <key>sourceSize</key>
                <string>{19,40}</string>
            </dict>
            <key>p_111_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>p_111_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>p_111_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>p_111_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,46},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>p_111_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>p_111_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{20,42}</string>
            </dict>
            <key>p_111_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{15,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,40}}</string>
                <key>sourceSize</key>
                <string>{15,40}</string>
            </dict>
            <key>p_111_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,46},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>p_111_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,33},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>p_111_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>p_111_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,44},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>p_111_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,33},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>p_111_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{15,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,39}}</string>
                <key>sourceSize</key>
                <string>{15,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>111YuanSuShi.pvr.ccz</string>
            <key>size</key>
            <string>{485,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fc9e5e2e895ce003a6ee8c82712ea1f$</string>
            <key>textureFileName</key>
            <string>111YuanSuShi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
