<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_504_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>p_504_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>p_504_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,34},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>p_504_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,33},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>p_504_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,53}}</string>
                <key>sourceSize</key>
                <string>{20,53}</string>
            </dict>
            <key>p_504_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,33},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>p_504_Ce_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,41},{16,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>p_504_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{17,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,37}}</string>
                <key>sourceSize</key>
                <string>{17,37}</string>
            </dict>
            <key>p_504_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>p_504_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>p_504_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,36},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>p_504_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,34},{43,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,27}}</string>
                <key>sourceSize</key>
                <string>{43,27}</string>
            </dict>
            <key>p_504_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{24,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{24,50}</string>
            </dict>
            <key>p_504_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>p_504_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,38},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>p_504_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>p_504_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,44},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>p_504_Qian_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>p_504_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>p_504_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>p_504_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{19,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,50}}</string>
                <key>sourceSize</key>
                <string>{19,50}</string>
            </dict>
            <key>p_504_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{17,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,34}}</string>
                <key>sourceSize</key>
                <string>{17,34}</string>
            </dict>
            <key>p_504_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,38},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>p_504_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>p_504_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,44},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>p_504_Qian_ZuoXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,40},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>p_504_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>p_504_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{17,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,36}}</string>
                <key>sourceSize</key>
                <string>{17,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>504cikejinzhuang.pvr.ccz</string>
            <key>size</key>
            <string>{433,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eabf680e059d5107b71d81d8ea621d78$</string>
            <key>textureFileName</key>
            <string>504cikejinzhuang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
