<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_999_Qian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>n_999_Qian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{90,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,87}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>n_999_Qian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,102}}</string>
                <key>sourceSize</key>
                <string>{113,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>999ZhaLan.pvr.ccz</string>
            <key>size</key>
            <string>{281,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2666377d225352b44b6061ed4581494$</string>
            <key>textureFileName</key>
            <string>999ZhaLan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
