<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_231_Ce_HouJiaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,68},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>p_231_Qian_HouDaTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>p_231_Qian_HouDaTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{38,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,63}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>p_231_Qian_HouJiaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,68},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>p_231_Qian_HouJiaoZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,68},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>p_231_Qian_HouXiaoTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{35,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,44}}</string>
                <key>sourceSize</key>
                <string>{35,44}</string>
            </dict>
            <key>p_231_Qian_HouXiaoTuiYou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>p_231_Qian_HouXiaoTuiYou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>p_231_Qian_HouXiaoTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,54},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>p_231_Qian_HouXiaoTuiZuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,23},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>p_231_Qian_HouXiaoTuiZuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,56},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>p_231_Qian_QianDaTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>p_231_Qian_QianDaTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>p_231_Qian_QianJiaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,46},{39,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,29}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>p_231_Qian_QianJiaoZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,67},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>p_231_Qian_QianXiaoTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{35,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>p_231_Qian_QianXiaoTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,54},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>p_231_Qian_ShenZi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{68,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,83}}</string>
                <key>sourceSize</key>
                <string>{68,83}</string>
            </dict>
            <key>p_231_Qian_ShenZi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,93}}</string>
                <key>sourceSize</key>
                <string>{66,93}</string>
            </dict>
            <key>p_231_Qian_ShenZi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{53,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,59}}</string>
                <key>sourceSize</key>
                <string>{53,59}</string>
            </dict>
            <key>p_231_Qian_Tou1(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{59,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,64}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>p_231_Qian_Tou1(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{372,58},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>p_231_Qian_Tou2(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>p_231_Qian_Tou2(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{290,67},{44,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,23}}</string>
                <key>sourceSize</key>
                <string>{44,23}</string>
            </dict>
            <key>p_231_Qian_Tou3(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{529,49},{73,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,44}}</string>
                <key>sourceSize</key>
                <string>{73,44}</string>
            </dict>
            <key>p_231_Qian_Tou3(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{604,77},{46,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,18}}</string>
                <key>sourceSize</key>
                <string>{46,18}</string>
            </dict>
            <key>p_231_Qian_WeiBa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,63},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>p_231_Qian_WeiBa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,47},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,22}</string>
            </dict>
            <key>p_231_Qian_WeiBa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,24},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>p_231_Qian_WeiBa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,67},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>p_231_Qian_WeiBa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{34,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{34,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diyuquan2.pvr.ccz</string>
            <key>size</key>
            <string>{684,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8224b8ded1b9fd22e14587fc33810b54$</string>
            <key>textureFileName</key>
            <string>diyuquan2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
