<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_230_Qian_HouDaTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,65}}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>p_230_Qian_HouDaTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>p_230_Qian_HouJiaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>p_230_Qian_HouJiaoYouce.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,89},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>p_230_Qian_HouJiaoZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,87},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>p_230_Qian_HouXiaoTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>p_230_Qian_HouXiaoTuiYou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,49},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>p_230_Qian_HouXiaoTuiYou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,23},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>p_230_Qian_HouXiaoTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,30},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>p_230_Qian_HouXiaoTuiZuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,93},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>p_230_Qian_HouXiaoTuiZuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,64},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>p_230_Qian_QianDaTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,64},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>p_230_Qian_QianDaTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,62},{35,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,56}}</string>
                <key>sourceSize</key>
                <string>{35,56}</string>
            </dict>
            <key>p_230_Qian_QianJiaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,89},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>p_230_Qian_QianJiaoZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>p_230_Qian_QianXiaoTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{35,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>p_230_Qian_QianXiaoTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,46},{52,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,39}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>p_230_Qian_ShenZi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{69,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,85}}</string>
                <key>sourceSize</key>
                <string>{69,85}</string>
            </dict>
            <key>p_230_Qian_ShenZi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,89}}</string>
                <key>sourceSize</key>
                <string>{66,89}</string>
            </dict>
            <key>p_230_Qian_ShenZi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>p_230_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>p_230_Qian_Tou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,64},{70,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>p_230_Qian_Tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>p_230_Qian_WeiBa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,89},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>p_230_Qian_WeiBa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,93},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>p_230_Qian_WeiBa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,93},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>p_230_Qian_WeiBa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,93},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>p_230_Qian_WeiBa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,69},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diyuquan.pvr.ccz</string>
            <key>size</key>
            <string>{507,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f508058a1a69a365cd6740a672e017a7$</string>
            <key>textureFileName</key>
            <string>diyuquan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
