<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_100_Qian_WuQi1(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{98,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,157}}</string>
                <key>sourceSize</key>
                <string>{98,157}</string>
            </dict>
            <key>p_100_Qian_WuQi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1609},{39,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,167}}</string>
                <key>sourceSize</key>
                <string>{39,167}</string>
            </dict>
            <key>p_100_Qian_WuQi2(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{98,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,161}}</string>
                <key>sourceSize</key>
                <string>{98,161}</string>
            </dict>
            <key>p_100_Qian_WuQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1271},{44,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,167}}</string>
                <key>sourceSize</key>
                <string>{44,167}</string>
            </dict>
            <key>p_100_Qian_WuQi3(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,953},{98,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,157}}</string>
                <key>sourceSize</key>
                <string>{98,157}</string>
            </dict>
            <key>p_100_Qian_WuQi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1440},{39,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,167}}</string>
                <key>sourceSize</key>
                <string>{39,167}</string>
            </dict>
            <key>p_100_Qian_WuQi4(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{98,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,157}}</string>
                <key>sourceSize</key>
                <string>{98,157}</string>
            </dict>
            <key>p_100_Qian_WuQi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1609},{39,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,167}}</string>
                <key>sourceSize</key>
                <string>{39,167}</string>
            </dict>
            <key>p_100_Qian_WuQi5(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{98,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,157}}</string>
                <key>sourceSize</key>
                <string>{98,157}</string>
            </dict>
            <key>p_100_Qian_WuQi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1440},{39,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,167}}</string>
                <key>sourceSize</key>
                <string>{39,167}</string>
            </dict>
            <key>p_100_Qian_WuQi6(6).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{98,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,157}}</string>
                <key>sourceSize</key>
                <string>{98,157}</string>
            </dict>
            <key>p_100_Qian_WuQi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1609},{39,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,167}}</string>
                <key>sourceSize</key>
                <string>{39,167}</string>
            </dict>
            <key>p_100_Qian_WuQi7(7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{102,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,157}}</string>
                <key>sourceSize</key>
                <string>{102,157}</string>
            </dict>
            <key>p_100_Qian_WuQi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{39,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,167}}</string>
                <key>sourceSize</key>
                <string>{39,167}</string>
            </dict>
            <key>p_100_Qian_WuQi8(8).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,150}}</string>
                <key>sourceSize</key>
                <string>{121,150}</string>
            </dict>
            <key>p_100_Qian_WuQi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1271},{58,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,167}}</string>
                <key>sourceSize</key>
                <string>{58,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DunZhanShiWuQi.pvr.ccz</string>
            <key>size</key>
            <string>{125,1778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d821c1bf2e4062cf932a164f050dc10$</string>
            <key>textureFileName</key>
            <string>DunZhanShiWuQi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
