<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_240_Qian_BoZi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,135},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>p_240_Qian_BoZi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,140},{57,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,66}}</string>
                <key>sourceSize</key>
                <string>{57,66}</string>
            </dict>
            <key>p_240_Qian_BoZi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,127},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>p_240_Qian_HouDaTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,135},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>p_240_Qian_HouDaTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,140},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,66}}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
            <key>p_240_Qian_HouJiaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{58,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,43}}</string>
                <key>sourceSize</key>
                <string>{58,43}</string>
            </dict>
            <key>p_240_Qian_HouJiaoZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,160},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,28}</string>
            </dict>
            <key>p_240_Qian_HouXiaoTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,127},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>p_240_Qian_HouXiaoTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,127},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>p_240_Qian_QianDaTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,135},{48,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,73}}</string>
                <key>sourceSize</key>
                <string>{48,73}</string>
            </dict>
            <key>p_240_Qian_QianDaiTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,132},{37,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,65}}</string>
                <key>sourceSize</key>
                <string>{37,65}</string>
            </dict>
            <key>p_240_Qian_QianJiaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,160},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,38}}</string>
                <key>sourceSize</key>
                <string>{68,38}</string>
            </dict>
            <key>p_240_Qian_QianJiaoZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,160},{68,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,37}}</string>
                <key>sourceSize</key>
                <string>{68,37}</string>
            </dict>
            <key>p_240_Qian_QianXiaoTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,132},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,65}}</string>
                <key>sourceSize</key>
                <string>{49,65}</string>
            </dict>
            <key>p_240_Qian_QianXiaoTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,127},{46,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,59}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>p_240_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{84,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,128}}</string>
                <key>sourceSize</key>
                <string>{84,128}</string>
            </dict>
            <key>p_240_Qian_Tou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,2},{81,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,104}}</string>
                <key>sourceSize</key>
                <string>{81,104}</string>
            </dict>
            <key>p_240_Qian_Tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,140},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>p_240_Qian_WeiBa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,140},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>p_240_Qian_WeiBa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,140},{63,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,66}}</string>
                <key>sourceSize</key>
                <string>{63,66}</string>
            </dict>
            <key>p_240_Qian_WeiBa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,160},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>p_240_Qian_WeiBa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,160},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>p_240_Qian_WeiBa5(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{315,160},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>p_240_Qian_WeiBa5(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,113},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>p_240_Qian_WeiBa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,127},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>p_240_Qian_WeiBa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,127},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>p_240_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,2},{88,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,109}}</string>
                <key>sourceSize</key>
                <string>{88,109}</string>
            </dict>
            <key>p_240_Qian_Xiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,108},{73,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,99}}</string>
                <key>sourceSize</key>
                <string>{73,99}</string>
            </dict>
            <key>p_240_Qian_Xiong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,127},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>p_240_Qian_YouChiBang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{370,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,123}}</string>
                <key>sourceSize</key>
                <string>{370,123}</string>
            </dict>
            <key>p_240_Qian_YouChiBang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,156}}</string>
                <key>sourceSize</key>
                <string>{424,156}</string>
            </dict>
            <key>p_240_Qian_YouChiBang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{196,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,131}}</string>
                <key>sourceSize</key>
                <string>{196,131}</string>
            </dict>
            <key>p_240_Qian_ZuoChiBang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,115},{372,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,94}}</string>
                <key>sourceSize</key>
                <string>{372,94}</string>
            </dict>
            <key>p_240_Qian_ZuoChiBang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{393,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,111}}</string>
                <key>sourceSize</key>
                <string>{393,111}</string>
            </dict>
            <key>p_240_Qian_ZuoChiBang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{260,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,136}}</string>
                <key>sourceSize</key>
                <string>{260,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gulong.pvr.ccz</string>
            <key>size</key>
            <string>{1914,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7f9979d993853995dbc8ff72ac15c09$</string>
            <key>textureFileName</key>
            <string>gulong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
