<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_408_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,175},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>n_408_Qian_Tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{35,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,96}}</string>
                <key>sourceSize</key>
                <string>{35,96}</string>
            </dict>
            <key>n_408_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{24,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,118}}</string>
                <key>sourceSize</key>
                <string>{24,118}</string>
            </dict>
            <key>n_408_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,73}}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
            <key>n_408_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,215},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>n_408_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,257},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JingLingNvGongShou.pvr.ccz</string>
            <key>size</key>
            <string>{63,295}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2896babfe6aba9178b140335cb43af47$</string>
            <key>textureFileName</key>
            <string>JingLingNvGongShou.pvr.ccz</string>
        </dict>
    </dict>
</plist>
