<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_237_Qian_HouJiaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,221},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>p_237_Qian_HouJiaoZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,221},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>p_237_Qian_HouTuiYou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,89},{53,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,36}}</string>
                <key>sourceSize</key>
                <string>{53,36}</string>
            </dict>
            <key>p_237_Qian_HouTuiYou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,162},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>p_237_Qian_HouTuiZuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>p_237_Qian_HouTuiZuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,128},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>p_237_Qian_QianJiaoZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,173},{51,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,24}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>p_237_Qian_QianTuiYou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,128},{38,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,43}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>p_237_Qian_QianTuiYou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,197},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>p_237_Qian_QianTuiYou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,212},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>p_237_Qian_QianTuiZuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,170},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>p_237_Qian_QianTuiZuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,127},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>p_237_Qian_ShenZi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{53,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,85}}</string>
                <key>sourceSize</key>
                <string>{53,85}</string>
            </dict>
            <key>p_237_Qian_ShenZi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{67,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,113}}</string>
                <key>sourceSize</key>
                <string>{67,113}</string>
            </dict>
            <key>p_237_Qian_ShenZi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,92},{63,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,89}}</string>
                <key>sourceSize</key>
                <string>{63,89}</string>
            </dict>
            <key>p_237_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>p_237_Qian_Tou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,79},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>p_237_Qian_Tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,183},{52,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,59}}</string>
                <key>sourceSize</key>
                <string>{52,59}</string>
            </dict>
            <key>p_237_Qian_WeiBa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,128},{36,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{36,66}</string>
            </dict>
            <key>p_237_Qian_WeiBa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,196},{31,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>p_237_Qian_WeiBa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,199},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>p_237_Qian_WeiBa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,79},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>p_237_Qian_WeiBa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,199},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>p_237_Qian_WeiBa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,144},{53,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,66}}</string>
                <key>sourceSize</key>
                <string>{53,66}</string>
            </dict>
            <key>p_237_Qian_WeiBa7.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,156},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>p_237_Qian_YouChiBang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>p_237_Qian_YouChiBang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,65},{117,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,61}}</string>
                <key>sourceSize</key>
                <string>{117,61}</string>
            </dict>
            <key>p_237_Qian_YouChiBang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,156},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>p_237_Qian_ZuoChiBang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{113,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,75}}</string>
                <key>sourceSize</key>
                <string>{113,75}</string>
            </dict>
            <key>p_237_Qian_ZuoChiBang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{117,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,61}}</string>
                <key>sourceSize</key>
                <string>{117,61}</string>
            </dict>
            <key>p_237_Qian_ZuoChiBang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,79},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juxi2.pvr.ccz</string>
            <key>size</key>
            <string>{512,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baac9fbae47df8757d1143fd89b1a118$</string>
            <key>textureFileName</key>
            <string>juxi2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
