<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_505_Ce_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,670},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>p_505_Ce_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,261},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>p_505_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>p_505_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>p_505_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,581},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>p_505_Ce_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>p_505_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>p_505_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,363},{15,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,40}}</string>
                <key>sourceSize</key>
                <string>{15,40}</string>
            </dict>
            <key>p_505_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>p_505_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,536},{21,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,43}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>p_505_Qian_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,670},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>p_505_Qian_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,405},{15,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,24}</string>
            </dict>
            <key>p_505_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>p_505_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,154}}</string>
                <key>sourceSize</key>
                <string>{46,154}</string>
            </dict>
            <key>p_505_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>p_505_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>p_505_Qian_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>p_505_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,431},{15,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,22}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>p_505_Qian_YaoDaiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,287},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>p_505_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>p_505_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>p_505_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>p_505_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,642},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>p_505_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,229},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>p_505_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,499},{20,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>p_505_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{22,48}</string>
            </dict>
            <key>p_505_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,321},{16,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,40}}</string>
                <key>sourceSize</key>
                <string>{16,40}</string>
            </dict>
            <key>p_505_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,613},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>p_505_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>p_505_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>p_505_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,246},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>p_505_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>p_505_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,455},{19,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,42}}</string>
                <key>sourceSize</key>
                <string>{19,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KuangZhanShiJinZhuang.pvr.ccz</string>
            <key>size</key>
            <string>{50,695}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:003d49524457b875692da7a0b733f953$</string>
            <key>textureFileName</key>
            <string>KuangZhanShiJinZhuang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
