<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_212_Ce_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>p_212_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>p_212_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>p_212_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,405},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>p_212_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,299},{14,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,42}}</string>
                <key>sourceSize</key>
                <string>{14,42}</string>
            </dict>
            <key>p_212_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>p_212_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,643},{23,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,53}}</string>
                <key>sourceSize</key>
                <string>{23,53}</string>
            </dict>
            <key>p_212_Hou_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>p_212_Hou_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{41,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,45}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>p_212_Hou_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,343},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>p_212_Qian_DangBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,809},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>p_212_Qian_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>p_212_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>p_212_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,75}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>p_212_Qian_WuQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{52,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,171}}</string>
                <key>sourceSize</key>
                <string>{52,171}</string>
            </dict>
            <key>p_212_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>p_212_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,252},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>p_212_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,835},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{20,42}</string>
            </dict>
            <key>p_212_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>p_212_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>p_212_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>p_212_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,879},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>p_212_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,733},{25,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,39}}</string>
                <key>sourceSize</key>
                <string>{25,39}</string>
            </dict>
            <key>p_212_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{35,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,53}}</string>
                <key>sourceSize</key>
                <string>{35,53}</string>
            </dict>
            <key>p_212_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,774},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>p_212_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>p_212_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>p_212_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,698},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>p_212_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,588},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>p_212_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>p_212_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{29,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,53}}</string>
                <key>sourceSize</key>
                <string>{29,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuijiakuloubing.pvr.ccz</string>
            <key>size</key>
            <string>{60,909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4519b8c11ac40c4e4f5aad9a04f6e66a$</string>
            <key>textureFileName</key>
            <string>kuijiakuloubing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
