<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_506_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>p_506_Ce_XiaShen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,311},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>p_506_Ce_XiaShen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,432},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>p_506_Ce_XiaShen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,37},{15,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,31}}</string>
                <key>sourceSize</key>
                <string>{15,31}</string>
            </dict>
            <key>p_506_Ce_XiaShen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,118},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>p_506_Ce_XiaShen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,163},{11,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,18}}</string>
                <key>sourceSize</key>
                <string>{11,18}</string>
            </dict>
            <key>p_506_Ce_XiaShen6.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{15,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,33}}</string>
                <key>sourceSize</key>
                <string>{15,33}</string>
            </dict>
            <key>p_506_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>p_506_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,70},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>p_506_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>p_506_Qian_XiaShen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,370},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>p_506_Qian_XiaShen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,464},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>p_506_Qian_XiaShen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,224},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>p_506_Qian_XiaShen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,118},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>p_506_Qian_XiaShen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,286},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>p_506_Qian_XiaShen6.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,130},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>p_506_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{38,50}</string>
            </dict>
            <key>p_506_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>p_506_Qian_YouJianJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,66}}</string>
                <key>sourceSize</key>
                <string>{40,66}</string>
            </dict>
            <key>p_506_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,184},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>p_506_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>p_506_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>p_506_Qian_ZuoJianJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{26,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,60}}</string>
                <key>sourceSize</key>
                <string>{26,60}</string>
            </dict>
            <key>p_506_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,336},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>p_506_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,259},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>p_506_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MoJianShiJinZhuang.pvr.ccz</string>
            <key>size</key>
            <string>{61,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e4b66b21ea917ca8e3a9fcb1e9557e$</string>
            <key>textureFileName</key>
            <string>MoJianShiJinZhuang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
