<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_002_Ce_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,30},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>p_002_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>p_002_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>p_002_Ce_Xiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>p_002_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,33},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>p_002_Ce_Yao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{31,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,25}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>p_002_Ce_Yao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,28},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>p_002_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>p_002_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{18,40}</string>
            </dict>
            <key>p_002_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,42},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>p_002_Ce_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,32},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>p_002_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>p_002_Hou_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>p_002_Hou_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>p_002_Hou_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>p_002_Hou_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,33},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>p_002_Hou_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>p_002_Hou_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>p_002_Hou_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,42},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>p_002_Hou_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{19,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,42}}</string>
                <key>sourceSize</key>
                <string>{19,42}</string>
            </dict>
            <key>p_002_Hou_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>p_002_Hou_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,42},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>p_002_Hou_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{20,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,43}}</string>
                <key>sourceSize</key>
                <string>{20,43}</string>
            </dict>
            <key>p_002_Qian_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,34},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>p_002_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,2},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>p_002_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>p_002_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,33},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>p_002_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,34},{44,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,27}}</string>
                <key>sourceSize</key>
                <string>{44,27}</string>
            </dict>
            <key>p_002_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>p_002_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>p_002_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,29},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>p_002_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
            <key>p_002_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,46},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>p_002_Qian_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>p_002_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>p_002_Qian_YouXiaoBi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>p_002_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{21,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{21,41}</string>
            </dict>
            <key>p_002_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>p_002_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,32},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>p_002_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,45},{32,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,16}}</string>
                <key>sourceSize</key>
                <string>{32,16}</string>
            </dict>
            <key>p_002_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>p_002_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,44},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>p_002_Qian_ZuoXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>p_002_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>p_002_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{17,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,40}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nanzhujue02.pvr.ccz</string>
            <key>size</key>
            <string>{826,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20dbcef6cb32dde1370fc59210a38a41$</string>
            <key>textureFileName</key>
            <string>nanzhujue02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
