<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_003_Ce_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,779},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>p_003_Ce_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,855},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>p_003_Ce_DangBu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,844},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>p_003_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>p_003_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>p_003_Ce_Xiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>p_003_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>p_003_Ce_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>p_003_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,708},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>p_003_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,802},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{18,40}</string>
            </dict>
            <key>p_003_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>p_003_Ce_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>p_003_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,36},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>p_003_Hou_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,752},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>p_003_Hou_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>p_003_Hou_DangBu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>p_003_Hou_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>p_003_Hou_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,387},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>p_003_Hou_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>p_003_Hou_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>p_003_Hou_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,833},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>p_003_Hou_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>p_003_Hou_YaoDaiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>p_003_Hou_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>p_003_Hou_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>p_003_Hou_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,733},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>p_003_Hou_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,69},{19,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,42}}</string>
                <key>sourceSize</key>
                <string>{19,42}</string>
            </dict>
            <key>p_003_Hou_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,313},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>p_003_Hou_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>p_003_Hou_ZuoXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,773},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>p_003_Hou_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,113},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>p_003_Qian_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,793},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>p_003_Qian_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>p_003_Qian_DangBu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,707},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>p_003_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,356},{26,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>p_003_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{32,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,135}}</string>
                <key>sourceSize</key>
                <string>{32,135}</string>
            </dict>
            <key>p_003_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>p_003_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>p_003_Qian_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,561},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>p_003_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>p_003_Qian_YaoDaiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,154},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>p_003_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,188},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>p_003_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>p_003_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,752},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>p_003_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,270},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>p_003_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,691},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>p_003_Qian_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,417},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>p_003_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,486},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>p_003_Qian_YouXiaoBi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,449},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>p_003_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,630},{21,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{21,41}</string>
            </dict>
            <key>p_003_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,815},{17,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,38}}</string>
                <key>sourceSize</key>
                <string>{17,38}</string>
            </dict>
            <key>p_003_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,597},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>p_003_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>p_003_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,229},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>p_003_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,673},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>p_003_Qian_ZuoXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,673},{21,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{21,32}</string>
            </dict>
            <key>p_003_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,523},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>p_003_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nanzhujue.pvr.ccz</string>
            <key>size</key>
            <string>{64,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67e838f2ec7bf52436214cbaf77ab360$</string>
            <key>textureFileName</key>
            <string>nanzhujue.pvr.ccz</string>
        </dict>
    </dict>
</plist>
