<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_021_Qian_YouChiBang1(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{110,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,47}}</string>
                <key>sourceSize</key>
                <string>{110,47}</string>
            </dict>
            <key>p_021_Qian_YouChiBang1(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{121,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,42}}</string>
                <key>sourceSize</key>
                <string>{121,42}</string>
            </dict>
            <key>p_021_Qian_YouChiBang1(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>p_021_Qian_YouChiBang1(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>p_021_Qian_ZuoChiBang1(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{91,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,44}}</string>
                <key>sourceSize</key>
                <string>{91,44}</string>
            </dict>
            <key>p_021_Qian_ZuoChiBang1(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{103,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,38}}</string>
                <key>sourceSize</key>
                <string>{103,38}</string>
            </dict>
            <key>p_021_Qian_ZuoChiBang1(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{69,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{69,33}</string>
            </dict>
            <key>p_021_Qian_ZuoChiBang1(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>sourceSize</key>
                <string>{54,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvchibang1.pvr.ccz</string>
            <key>size</key>
            <string>{700,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b75f8b46c48926534a2a591821f260a$</string>
            <key>textureFileName</key>
            <string>nvchibang1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
