<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_103_Qian_WuaQi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{40,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,171}}</string>
                <key>sourceSize</key>
                <string>{40,171}</string>
            </dict>
            <key>p_103_Qian_WuaQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{40,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,171}}</string>
                <key>sourceSize</key>
                <string>{40,171}</string>
            </dict>
            <key>p_103_Qian_WuaQi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{40,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,171}}</string>
                <key>sourceSize</key>
                <string>{40,171}</string>
            </dict>
            <key>p_103_Qian_WuaQi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{40,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,171}}</string>
                <key>sourceSize</key>
                <string>{40,171}</string>
            </dict>
            <key>p_103_Qian_WuaQi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{40,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,171}}</string>
                <key>sourceSize</key>
                <string>{40,171}</string>
            </dict>
            <key>p_103_Qian_WuaQi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{40,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,171}}</string>
                <key>sourceSize</key>
                <string>{40,171}</string>
            </dict>
            <key>p_103_Qian_WuaQi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{40,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,171}}</string>
                <key>sourceSize</key>
                <string>{40,171}</string>
            </dict>
            <key>p_103_Qian_WuaQi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,171}}</string>
                <key>sourceSize</key>
                <string>{40,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SaManWuYiWuQi.pvr.ccz</string>
            <key>size</key>
            <string>{44,1386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7748e0dcba0e1258eccbe96002de14f$</string>
            <key>textureFileName</key>
            <string>SaManWuYiWuQi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
