<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_415_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,97},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>n_415_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,114}}</string>
                <key>sourceSize</key>
                <string>{80,114}</string>
            </dict>
            <key>n_415_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{59,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,93}}</string>
                <key>sourceSize</key>
                <string>{59,93}</string>
            </dict>
            <key>n_415_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>n_415_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,40},{24,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,52}}</string>
                <key>sourceSize</key>
                <string>{24,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangrentiejiang.pvr.ccz</string>
            <key>size</key>
            <string>{172,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f854bd114019aff9d5d5d55c52d52021$</string>
            <key>textureFileName</key>
            <string>shangrentiejiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
