<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_100_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>p_100_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>p_100_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,34},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>p_100_Ce_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>p_100_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{17,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,37}}</string>
                <key>sourceSize</key>
                <string>{17,37}</string>
            </dict>
            <key>p_100_Ce_YaoDaiZhong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,34},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>p_100_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>p_100_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,41},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>p_100_Ce_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>p_100_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>p_100_Qian_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,36},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>p_100_Qian_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>p_100_Qian_DouPeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{16,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,37}}</string>
                <key>sourceSize</key>
                <string>{16,37}</string>
            </dict>
            <key>p_100_Qian_DouPeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,57}}</string>
                <key>sourceSize</key>
                <string>{34,57}</string>
            </dict>
            <key>p_100_Qian_DouPeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>p_100_Qian_DouPengAnSe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>p_100_Qian_DouPengAnSe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{61,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,30}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>p_100_Qian_DouPengAnSe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{79,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,50}}</string>
                <key>sourceSize</key>
                <string>{79,50}</string>
            </dict>
            <key>p_100_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>p_100_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>p_100_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,38},{38,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,23}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>p_100_Qian_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>p_100_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>p_100_Qian_YaoDaiZhong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,34},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>p_100_Qian_YaoDaiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{22,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>p_100_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>p_100_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>p_100_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,32},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>p_100_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>p_100_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,46},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>p_100_Qian_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>p_100_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>p_100_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{21,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,47}}</string>
                <key>sourceSize</key>
                <string>{21,47}</string>
            </dict>
            <key>p_100_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{25,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,44}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>p_100_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>p_100_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,41},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>p_100_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>p_100_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,47},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>p_100_Qian_ZuoXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>p_100_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>p_100_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shouweizhe.pvr.ccz</string>
            <key>size</key>
            <string>{1003,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fdfaa4fedd553c10c7a3d049cd91dfb$</string>
            <key>textureFileName</key>
            <string>shouweizhe.pvr.ccz</string>
        </dict>
    </dict>
</plist>
