<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_417_Qian_PiFeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{29,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,94}}</string>
                <key>sourceSize</key>
                <string>{29,94}</string>
            </dict>
            <key>n_417_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,90},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>n_417_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,113}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
            <key>n_417_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{59,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,86}}</string>
                <key>sourceSize</key>
                <string>{59,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoushangjingling.pvr.ccz</string>
            <key>size</key>
            <string>{170,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d3c0b67d11f5826095e1d29478a9d03$</string>
            <key>textureFileName</key>
            <string>shoushangjingling.pvr.ccz</string>
        </dict>
    </dict>
</plist>
