<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_418_Qian_PaoZi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,97}}</string>
                <key>sourceSize</key>
                <string>{74,97}</string>
            </dict>
            <key>n_418_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,75},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>n_418_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,71}}</string>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
            <key>n_418_Qian_ZuoJianJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,75},{25,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,39}}</string>
                <key>sourceSize</key>
                <string>{25,39}</string>
            </dict>
            <key>n_418_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoushanglaobing.pvr.ccz</string>
            <key>size</key>
            <string>{157,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af8cf5f6f81d083ec87df0cc09c68269$</string>
            <key>textureFileName</key>
            <string>shoushanglaobing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
