<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_416_Qian_DouPeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,160}}</string>
                <key>sourceSize</key>
                <string>{177,160}</string>
            </dict>
            <key>n_416_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>n_416_Qian_WuQi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{66,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,269}}</string>
                <key>sourceSize</key>
                <string>{66,269}</string>
            </dict>
            <key>n_416_Qian_WuQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,364},{46,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,115}}</string>
                <key>sourceSize</key>
                <string>{46,115}</string>
            </dict>
            <key>n_416_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,164},{83,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,103}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>n_416_Qian_YouJianJia.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,269},{33,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,90}}</string>
                <key>sourceSize</key>
                <string>{33,90}</string>
            </dict>
            <key>n_416_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,269},{72,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,93}}</string>
                <key>sourceSize</key>
                <string>{72,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoubeijunzhang.pvr.ccz</string>
            <key>size</key>
            <string>{181,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e180f5494c2d0f64db028a91ff2a0de$</string>
            <key>textureFileName</key>
            <string>shoubeijunzhang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
