<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_222_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,32},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>p_222_Ce_XiaShen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,55}}</string>
                <key>sourceSize</key>
                <string>{64,55}</string>
            </dict>
            <key>p_222_Ce_XiaShen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{85,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,46}}</string>
                <key>sourceSize</key>
                <string>{85,46}</string>
            </dict>
            <key>p_222_Ce_XiaShen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,34},{97,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,28}}</string>
                <key>sourceSize</key>
                <string>{97,28}</string>
            </dict>
            <key>p_222_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,32},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>p_222_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>p_222_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{38,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>p_222_Qian_XiaShen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{69,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,53}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
            <key>p_222_Qian_XiaShen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{90,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,51}}</string>
                <key>sourceSize</key>
                <string>{90,51}</string>
            </dict>
            <key>p_222_Qian_XiaShen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{95,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,28}}</string>
                <key>sourceSize</key>
                <string>{95,28}</string>
            </dict>
            <key>p_222_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,32},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>p_222_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,23},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>p_222_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>p_222_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,32},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>p_222_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{23,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,44}}</string>
                <key>sourceSize</key>
                <string>{23,44}</string>
            </dict>
            <key>p_222_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>p_222_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,43},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>p_222_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>p_222_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>p_222_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,43},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuiyuansu.pvr.ccz</string>
            <key>size</key>
            <string>{597,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28a54ed52c0bc960d9ac7eb829c9cc87$</string>
            <key>textureFileName</key>
            <string>shuiyuansu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
