<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_110_Qian_WuQi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,84},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>p_110_Qian_WuQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{75,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,86}}</string>
                <key>sourceSize</key>
                <string>{75,86}</string>
            </dict>
            <key>p_110_Qian_WuQi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,89}}</string>
                <key>sourceSize</key>
                <string>{67,89}</string>
            </dict>
            <key>p_110_Qian_WuQi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,164},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>p_110_Qian_WuQi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,164},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>p_110_Qian_WuQi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>p_110_Qian_WuQi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,84},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>p_110_Qian_WuQi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YinYouShiRenWuQi.pvr.ccz</string>
            <key>size</key>
            <string>{240,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:928e08160010dd553f0e46d1bc0e1e10$</string>
            <key>textureFileName</key>
            <string>YinYouShiRenWuQi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
