<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_107_Qian_WuQi1(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{79,77},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>p_107_Qian_WuQi1(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{12,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,23}}</string>
                <key>sourceSize</key>
                <string>{12,23}</string>
            </dict>
            <key>p_107_Qian_WuQi1(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>p_107_Qian_WuQi2(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{337,69},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>p_107_Qian_WuQi2(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{123,77},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>p_107_Qian_WuQi2(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{234,71},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>p_107_Qian_WuQi3(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{144,71},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>p_107_Qian_WuQi3(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{40,79},{16,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,31}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>p_107_Qian_WuQi3(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{189,71},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>p_107_Qian_WuQi4(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{45,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,66}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>p_107_Qian_WuQi4(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{387,99},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>p_107_Qian_WuQi4(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{431,62},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>p_107_Qian_WuQi5(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>p_107_Qian_WuQi5(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{58,79},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>p_107_Qian_WuQi5(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{284,70},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>p_107_Qian_WuQi6(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>p_107_Qian_WuQi6(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{479,62},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>p_107_Qian_WuQi6(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>p_107_Qian_WuQi7(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>p_107_Qian_WuQi7(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{479,92},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>p_107_Qian_WuQi7(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>p_107_Qian_WuQi8(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>p_107_Qian_WuQi8(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{387,69},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>p_107_Qian_WuQi8(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{52,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,67}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YouXiaWuQi.pvr.ccz</string>
            <key>size</key>
            <string>{498,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21d009f2c91b336659b37cf8fe0ccf0f$</string>
            <key>textureFileName</key>
            <string>YouXiaWuQi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
