<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_111_Qian_WuQi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,650},{28,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,153}}</string>
                <key>sourceSize</key>
                <string>{28,153}</string>
            </dict>
            <key>p_111_Qian_WuQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{28,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,153}}</string>
                <key>sourceSize</key>
                <string>{28,153}</string>
            </dict>
            <key>p_111_Qian_WuQi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{28,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,148}}</string>
                <key>sourceSize</key>
                <string>{28,148}</string>
            </dict>
            <key>p_111_Qian_WuQi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{28,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,170}}</string>
                <key>sourceSize</key>
                <string>{28,170}</string>
            </dict>
            <key>p_111_Qian_WuQi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,490},{28,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,158}}</string>
                <key>sourceSize</key>
                <string>{28,158}</string>
            </dict>
            <key>p_111_Qian_WuQi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,330},{28,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,158}}</string>
                <key>sourceSize</key>
                <string>{28,158}</string>
            </dict>
            <key>p_111_Qian_WuQi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,153}}</string>
                <key>sourceSize</key>
                <string>{34,153}</string>
            </dict>
            <key>p_111_Qian_WuQi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{29,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,171}}</string>
                <key>sourceSize</key>
                <string>{29,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YuanSuShiWuQi.pvr.ccz</string>
            <key>size</key>
            <string>{62,807}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f691eca094df466372c46e95baf39f7$</string>
            <key>textureFileName</key>
            <string>YuanSuShiWuQi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
