<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_204_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>p_204_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>p_204_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>p_204_Ce_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,263},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>p_204_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>p_204_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,218},{20,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,43}}</string>
                <key>sourceSize</key>
                <string>{20,43}</string>
            </dict>
            <key>p_204_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>p_204_Ce_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,596},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>p_204_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,135},{18,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
            <key>p_204_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,425},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>p_204_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{32,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,156}}</string>
                <key>sourceSize</key>
                <string>{32,156}</string>
            </dict>
            <key>p_204_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>p_204_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>p_204_Qian_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{24,40}</string>
            </dict>
            <key>p_204_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>p_204_Qian_YaoDaiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,83},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>p_204_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,333},{25,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,45}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>p_204_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,33}}</string>
                <key>sourceSize</key>
                <string>{39,33}</string>
            </dict>
            <key>p_204_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,498},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>p_204_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,380},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>p_204_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>p_204_Qian_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>p_204_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{22,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,44}}</string>
                <key>sourceSize</key>
                <string>{22,44}</string>
            </dict>
            <key>p_204_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{21,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{21,41}</string>
            </dict>
            <key>p_204_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,173},{20,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,43}}</string>
                <key>sourceSize</key>
                <string>{20,43}</string>
            </dict>
            <key>p_204_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,301},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>p_204_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>p_204_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,453},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,43}</string>
            </dict>
            <key>p_204_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,117},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>p_204_Qian_ZuoXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,570},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>p_204_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,527},{22,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,41}}</string>
                <key>sourceSize</key>
                <string>{22,41}</string>
            </dict>
            <key>p_204_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,135},{18,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhongjiabing2.pvr.ccz</string>
            <key>size</key>
            <string>{64,632}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9567ad8264c144a0942cbc9f78e1b8f3$</string>
            <key>textureFileName</key>
            <string>zhongjiabing2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
