<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_016_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,135}}</string>
                <key>sourceSize</key>
                <string>{32,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhujuejinshenwuqi1.pvr.ccz</string>
            <key>size</key>
            <string>{36,139}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea7c2f3511147da33600d8895ca0235d$</string>
            <key>textureFileName</key>
            <string>zhujuejinshenwuqi1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
