<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_char_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,90},{170,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,116}}</string>
                <key>sourceSize</key>
                <string>{170,116}</string>
            </dict>
            <key>battle_char_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,212},{170,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,116}}</string>
                <key>sourceSize</key>
                <string>{170,116}</string>
            </dict>
            <key>battle_char_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,334},{170,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,116}}</string>
                <key>sourceSize</key>
                <string>{170,116}</string>
            </dict>
            <key>battle_char_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,456},{170,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,116}}</string>
                <key>sourceSize</key>
                <string>{170,116}</string>
            </dict>
            <key>battle_char_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,578},{170,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,116}}</string>
                <key>sourceSize</key>
                <string>{170,116}</string>
            </dict>
            <key>battle_char_skill_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,858},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>battle_char_skill_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,919},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>quest_baiwenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,4},{46,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,80}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
            <key>quest_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,614},{89,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,77}}</string>
                <key>sourceSize</key>
                <string>{89,77}</string>
            </dict>
            <key>quest_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,614},{340,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,99}}</string>
                <key>sourceSize</key>
                <string>{340,99}</string>
            </dict>
            <key>quest_huangtanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,614},{46,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,80}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
            <key>quest_huangwenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,614},{46,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,80}}</string>
                <key>sourceSize</key>
                <string>{46,80}</string>
            </dict>
            <key>zhuangshi_bar_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{960,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,21}}</string>
                <key>sourceSize</key>
                <string>{960,21}</string>
            </dict>
            <key>zhuangshi_bar_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,31},{960,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,21}}</string>
                <key>sourceSize</key>
                <string>{960,21}</string>
            </dict>
            <key>zhuangshi_female_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,58},{827,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,133}}</string>
                <key>sourceSize</key>
                <string>{827,133}</string>
            </dict>
            <key>zhuangshi_female_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,719},{502,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,133}}</string>
                <key>sourceSize</key>
                <string>{502,133}</string>
            </dict>
            <key>zhuangshi_female_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,197},{827,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,133}}</string>
                <key>sourceSize</key>
                <string>{827,133}</string>
            </dict>
            <key>zhuangshi_jingcaihuodong_nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,614},{248,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,388}}</string>
                <key>sourceSize</key>
                <string>{248,388}</string>
            </dict>
            <key>zhuangshi_jingcaihuodong_nv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,700},{222,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,298}}</string>
                <key>sourceSize</key>
                <string>{222,298}</string>
            </dict>
            <key>zhuangshi_male_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,336},{827,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,133}}</string>
                <key>sourceSize</key>
                <string>{827,133}</string>
            </dict>
            <key>zhuangshi_male_half.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,858},{456,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,133}}</string>
                <key>sourceSize</key>
                <string>{456,133}</string>
            </dict>
            <key>zhuangshi_male_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,475},{827,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{827,133}}</string>
                <key>sourceSize</key>
                <string>{827,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuangshi0.pvr.ccz</string>
            <key>size</key>
            <string>{1020,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35031b6a70ed1da511c481b95e734504:1/4$</string>
            <key>textureFileName</key>
            <string>zhuangshi0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
