<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{600,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,240}}</string>
                <key>sourceSize</key>
                <string>{600,240}</string>
            </dict>
            <key>zhuangshi_female_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,250},{536,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,457}}</string>
                <key>sourceSize</key>
                <string>{536,457}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuangshi2.pvr.ccz</string>
            <key>size</key>
            <string>{608,711}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35031b6a70ed1da511c481b95e734504:3/4$</string>
            <key>textureFileName</key>
            <string>zhuangshi2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
