<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_char_skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,4},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>battle_char_skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,65},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>battle_char_skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,126},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>levelup.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,854},{338,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,99}}</string>
                <key>sourceSize</key>
                <string>{338,99}</string>
            </dict>
            <key>logo_game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,380},{666,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,468}}</string>
                <key>sourceSize</key>
                <string>{666,468}</string>
            </dict>
            <key>quesrscroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,187},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>quest_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,854},{338,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,99}}</string>
                <key>sourceSize</key>
                <string>{338,99}</string>
            </dict>
            <key>quest_round_001_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,492},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>quest_round_002_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,236},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>quest_round_003_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,380},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>tip_onehand.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{710,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,370}}</string>
                <key>sourceSize</key>
                <string>{710,370}</string>
            </dict>
            <key>tip_onehandtext.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,959},{290,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,48}}</string>
                <key>sourceSize</key>
                <string>{290,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuangshi1.pvr.ccz</string>
            <key>size</key>
            <string>{786,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35031b6a70ed1da511c481b95e734504:2/4$</string>
            <key>textureFileName</key>
            <string>zhuangshi1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
