<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001_xiaoanniu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>001_xiaoanniu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,4},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>001_yeqian_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,4},{152,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>
            </dict>
            <key>001_yeqian_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,4},{152,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{152,52}</string>
            </dict>
            <key>button_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,4},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button_add_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,50},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button_baoguo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,454},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>button_baoguo_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,675},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>button_blue_disabled_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,214},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_blue_normal_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,214},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_blue_selected_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,224},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_chongzhi_normal_168x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,138},{168,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,70}}</string>
                <key>sourceSize</key>
                <string>{168,70}</string>
            </dict>
            <key>button_chongzhi_selected_168x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,138},{168,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,70}}</string>
                <key>sourceSize</key>
                <string>{168,70}</string>
            </dict>
            <key>button_cyan_disabled_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,294},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_cyan_normal_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,294},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_cyan_selected_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,304},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_fumo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,561},{96,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,101}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
            <key>button_fumo_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,568},{96,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,101}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
            <key>button_green_diabled_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,139},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_disabled_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,4},{125,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,57}}</string>
                <key>sourceSize</key>
                <string>{125,57}</string>
            </dict>
            <key>button_green_disabled_60x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,144},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_disabled_fangda.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,144},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_disabled_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,187},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_disabled_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,187},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_disabled_suoxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,202},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_normal_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,4},{125,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,57}}</string>
                <key>sourceSize</key>
                <string>{125,57}</string>
            </dict>
            <key>button_green_normal_60x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,202},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_normal_fangda.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,207},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_normal_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,219},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_normal_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,267},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_normal_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,267},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_normal_suoxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,282},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_selected_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,4},{125,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,57}}</string>
                <key>sourceSize</key>
                <string>{125,57}</string>
            </dict>
            <key>button_green_selected_60x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,282},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_selected_fangda.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,287},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_selected_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,299},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_selected_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,347},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_green_selected_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,347},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_haoyou_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,641},{96,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,101}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
            <key>button_haoyou_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,668},{96,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,101}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
            <key>button_jianhao_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,50},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button_jianhao_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,50},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button_jifaqianneng_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,384},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>button_jifaqianneng_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,464},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>button_jinruzhandou_disabled_161x65.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,67},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,65}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>button_jinruzhandou_normal_161x65.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,67},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,65}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>button_jinruzhandou_selected_161x65.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,116},{161,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,65}}</string>
                <key>sourceSize</key>
                <string>{161,65}</string>
            </dict>
            <key>button_juese_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,782},{86,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{86,101}</string>
            </dict>
            <key>button_juese_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,854},{86,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{86,101}</string>
            </dict>
            <key>button_minus_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,62},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button_minus_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,62},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button_pink_disabled_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,367},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_pink_normal_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,374},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_pink_selected_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,374},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_purple_normal_cptplay_surrender.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,128},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>button_qianghua_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,754},{90,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,101}}</string>
                <key>sourceSize</key>
                <string>{90,101}</string>
            </dict>
            <key>button_qianghua_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,775},{90,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,101}}</string>
                <key>sourceSize</key>
                <string>{90,101}</string>
            </dict>
            <key>button_red_disabled_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,384},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_red_disabled_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,70},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>button_red_normal_150X60.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,447},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_red_normal_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,128},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>button_red_selected_150x60_.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,454},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_red_selected_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,128},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>button_renwu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,861},{86,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{86,101}</string>
            </dict>
            <key>button_renwu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,882},{86,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{86,101}</string>
            </dict>
            <key>button_shengguangzhufu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,488},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>button_shengguangzhufu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,488},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>button_shezhi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,534},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>button_shezhi_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,592},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,101}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>button_tianfu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,592},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>button_tianfu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,854},{110,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>sourceSize</key>
                <string>{110,101}</string>
            </dict>
            <key>button_tishi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,889},{86,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{86,101}</string>
            </dict>
            <key>button_tishi_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,899},{86,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{86,101}</string>
            </dict>
            <key>button_yellow_normal_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,62},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>button_yellow_selected_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,67},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>button_zengjiatili_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,62},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button_zhanxing_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,454},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,94}</string>
            </dict>
            <key>button_zhanxing_lv1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,534},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,94}</string>
            </dict>
            <key>button_zhanxing_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,554},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,94}</string>
            </dict>
            <key>button_zhanxing_lv2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,634},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,94}</string>
            </dict>
            <key>button_zhanxing_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,654},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,94}</string>
            </dict>
            <key>button_zhanxing_lv3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,699},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,94}</string>
            </dict>
            <key>button_zhanxing_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,734},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,94}</string>
            </dict>
            <key>button_zhanxing_lv4_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,754},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,94}</string>
            </dict>
            <key>button_zhanxing_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,799},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,94}</string>
            </dict>
            <key>button_zhanxing_lv5_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,834},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{220,94}</string>
            </dict>
            <key>button_zhanxing_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,899},{86,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{86,101}</string>
            </dict>
            <key>button_zhanxing_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,899},{86,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{86,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button1.pvr.ccz</string>
            <key>size</key>
            <string>{988,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:959773c35cfd95f6a1603f1dc89e7bef:2/2$</string>
            <key>textureFileName</key>
            <string>button1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
