<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_001_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,746},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button_001_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,880},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button_001_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,746},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button_add_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,32},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>button_add_small_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,4},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>button_cyan_disabled_240x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,945},{252,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,74}}</string>
                <key>sourceSize</key>
                <string>{252,74}</string>
            </dict>
            <key>button_cyan_normal_240x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,240},{252,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,74}}</string>
                <key>sourceSize</key>
                <string>{252,74}</string>
            </dict>
            <key>button_cyan_selected_240x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,320},{252,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,74}}</string>
                <key>sourceSize</key>
                <string>{252,74}</string>
            </dict>
            <key>button_green_normal_364x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,880},{337,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,124}}</string>
                <key>sourceSize</key>
                <string>{337,124}</string>
            </dict>
            <key>button_green_selected_364x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,4},{337,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,124}}</string>
                <key>sourceSize</key>
                <string>{337,124}</string>
            </dict>
            <key>button_green_selected_suoxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,4},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_liaotian_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,746},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>button_liaotian_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,240},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>button_mrhd_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{175,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,365}}</string>
                <key>sourceSize</key>
                <string>{175,365}</string>
            </dict>
            <key>button_mrhd_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,375},{175,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,365}}</string>
                <key>sourceSize</key>
                <string>{175,365}</string>
            </dict>
            <key>button_mrhd_di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,4},{175,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,365}}</string>
                <key>sourceSize</key>
                <string>{175,365}</string>
            </dict>
            <key>button_mrhd_di_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,375},{175,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,365}}</string>
                <key>sourceSize</key>
                <string>{175,365}</string>
            </dict>
            <key>button_mrhd_di_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,375},{175,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,365}}</string>
                <key>sourceSize</key>
                <string>{175,365}</string>
            </dict>
            <key>button_purple_disabled_cptplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,84},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_purple_normal_cptplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,164},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_purple_selected_cptplay.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,244},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_red_01_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,324},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>button_red_01_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,152},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>button_red_disabled_close_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,746},{107,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{107,121}</string>
            </dict>
            <key>button_red_normal_close_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,868},{108,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,116}}</string>
                <key>sourceSize</key>
                <string>{108,116}</string>
            </dict>
            <key>button_red_selected_close_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,746},{107,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,121}}</string>
                <key>sourceSize</key>
                <string>{107,121}</string>
            </dict>
            <key>button_yellow_disabled_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,945},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_yellow_disabled_240x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,400},{252,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,74}}</string>
                <key>sourceSize</key>
                <string>{252,74}</string>
            </dict>
            <key>button_yellow_disabled_320x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,134},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>button_yellow_disabled_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,640},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>button_yellow_normal_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,152},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_yellow_normal_240x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,480},{252,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,74}}</string>
                <key>sourceSize</key>
                <string>{252,74}</string>
            </dict>
            <key>button_yellow_normal_320x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,733},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>button_yellow_selected_150x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,640},{162,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,74}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>button_yellow_selected_240x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,560},{252,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,74}}</string>
                <key>sourceSize</key>
                <string>{252,74}</string>
            </dict>
            <key>button_yellow_selected_320x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,839},{320,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,100}}</string>
                <key>sourceSize</key>
                <string>{320,100}</string>
            </dict>
            <key>button_zengjiatili_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,859},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>button_zongxiang_1__normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,4},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>button_zongxiang_1_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,78},{182,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,68}}</string>
                <key>sourceSize</key>
                <string>{182,68}</string>
            </dict>
            <key>button_zongxiang__normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,746},{154,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,107}}</string>
                <key>sourceSize</key>
                <string>{154,107}</string>
            </dict>
            <key>button_zongxiang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,240},{154,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,107}}</string>
                <key>sourceSize</key>
                <string>{154,107}</string>
            </dict>
            <key>xuanzhongzhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,362},{175,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,365}}</string>
                <key>sourceSize</key>
                <string>{175,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button0.pvr.ccz</string>
            <key>size</key>
            <string>{1021,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:959773c35cfd95f6a1603f1dc89e7bef:1/2$</string>
            <key>textureFileName</key>
            <string>button0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
