<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kuang_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,784},{284,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,80}}</string>
                <key>sourceSize</key>
                <string>{284,80}</string>
            </dict>
            <key>kuang_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,522},{380,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,134}}</string>
                <key>sourceSize</key>
                <string>{380,134}</string>
            </dict>
            <key>kuang_Large_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>kuang_lv2_bighong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,662},{374,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,116}}</string>
                <key>sourceSize</key>
                <string>{374,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuang2.pvr.ccz</string>
            <key>size</key>
            <string>{520,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0367c2e0c79beca03fe4330c5ae76944:3/3$</string>
            <key>textureFileName</key>
            <string>kuang2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
