<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gengxingonggaohaojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,522},{505,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,58}}</string>
                <key>sourceSize</key>
                <string>{505,58}</string>
            </dict>
            <key>kuang_Large_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>kuang_lv2_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,4},{398,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,308}}</string>
                <key>sourceSize</key>
                <string>{398,308}</string>
            </dict>
            <key>kuang_lv2_big_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,498},{382,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,250}}</string>
                <key>sourceSize</key>
                <string>{382,250}</string>
            </dict>
            <key>kuang_lv2_big_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,754},{378,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,186}}</string>
                <key>sourceSize</key>
                <string>{378,186}</string>
            </dict>
            <key>kuang_lv2_big_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,498},{382,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,250}}</string>
                <key>sourceSize</key>
                <string>{382,250}</string>
            </dict>
            <key>kuang_lv2_s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,946},{326,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,46}}</string>
                <key>sourceSize</key>
                <string>{326,46}</string>
            </dict>
            <key>kuang_lv2_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,318},{398,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,174}}</string>
                <key>sourceSize</key>
                <string>{398,174}</string>
            </dict>
            <key>kuang_tip_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,586},{356,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,372}}</string>
                <key>sourceSize</key>
                <string>{356,372}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuang1.pvr.ccz</string>
            <key>size</key>
            <string>{924,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0367c2e0c79beca03fe4330c5ae76944:2/3$</string>
            <key>textureFileName</key>
            <string>kuang1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
