<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_003_Qian_WuQi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,151}}</string>
                <key>sourceSize</key>
                <string>{40,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>003zhujuewuqi8.pvr.ccz</string>
            <key>size</key>
            <string>{44,155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c24ac61eb0da4ce9c4a312a3b9236e32$</string>
            <key>textureFileName</key>
            <string>003zhujuewuqi8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
