<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_003_Qian_WuQi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,149}}</string>
                <key>sourceSize</key>
                <string>{45,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>003zhujuewuqi7.pvr.ccz</string>
            <key>size</key>
            <string>{49,153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92972724f3f7fa398e10359f0c529221$</string>
            <key>textureFileName</key>
            <string>003zhujuewuqi7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
