<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_041_Ce_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,41},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>p_041_Ce_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,42},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>p_041_Ce_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,28},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>p_041_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,34},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>p_041_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>p_041_Ce_Xiong2(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>p_041_Ce_Xiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>p_041_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,28},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>p_041_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{19,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,44}}</string>
                <key>sourceSize</key>
                <string>{19,44}</string>
            </dict>
            <key>p_041_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>p_041_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{17,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,37}}</string>
                <key>sourceSize</key>
                <string>{17,37}</string>
            </dict>
            <key>p_041_Hou_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,43},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>p_041_Hou_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,42},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>p_041_Hou_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>p_041_Hou_Xiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>p_041_Hou_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,32},{43,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,27}}</string>
                <key>sourceSize</key>
                <string>{43,27}</string>
            </dict>
            <key>p_041_Hou_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{19,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,43}}</string>
                <key>sourceSize</key>
                <string>{19,43}</string>
            </dict>
            <key>p_041_Hou_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,47},{23,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,13}}</string>
                <key>sourceSize</key>
                <string>{23,13}</string>
            </dict>
            <key>p_041_Hou_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{16,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,40}}</string>
                <key>sourceSize</key>
                <string>{16,40}</string>
            </dict>
            <key>p_041_Hou_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
            <key>p_041_Hou_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,46},{24,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{24,14}</string>
            </dict>
            <key>p_041_Hou_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{16,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,39}}</string>
                <key>sourceSize</key>
                <string>{16,39}</string>
            </dict>
            <key>p_041_Qian_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,42},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>p_041_Qian_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,41},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>p_041_Qian_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,28},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>p_041_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,34},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>p_041_Qian_TouFa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,29},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>p_041_Qian_TouFa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,26},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>p_041_Qian_TouFa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{15,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,32}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>p_041_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>p_041_Qian_Xiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,37},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>p_041_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>p_041_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{20,42}</string>
            </dict>
            <key>p_041_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,37},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>p_041_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>p_041_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>p_041_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,44},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>p_041_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>p_041_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{19,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,42}}</string>
                <key>sourceSize</key>
                <string>{19,42}</string>
            </dict>
            <key>p_041_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{18,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,42}}</string>
                <key>sourceSize</key>
                <string>{18,42}</string>
            </dict>
            <key>p_041_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,28},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>p_041_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>p_041_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{17,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>p_041_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,44},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>p_041_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>p_041_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{16,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,37}}</string>
                <key>sourceSize</key>
                <string>{16,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>041nvzhujue.pvr.ccz</string>
            <key>size</key>
            <string>{632,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a7b6608610118b0d4b410c95bf67f4e$</string>
            <key>textureFileName</key>
            <string>041nvzhujue.pvr.ccz</string>
        </dict>
    </dict>
</plist>
