<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_102_Ce_QunBaiQianShang.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,39},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>p_102_Ce_QunBaiQianXia.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,27},{9,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,23}}</string>
                <key>sourceSize</key>
                <string>{9,23}</string>
            </dict>
            <key>p_102_Ce_QunBaiQianZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,20},{9,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,17}}</string>
                <key>sourceSize</key>
                <string>{9,17}</string>
            </dict>
            <key>p_102_Ce_QunBaiShang.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>p_102_Ce_QunBaiXia.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>p_102_Ce_QunBaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,32},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>p_102_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>p_102_Ce_TouFaShang.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,43},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>p_102_Ce_TouFaXia.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>p_102_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>p_102_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,37},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>p_102_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>p_102_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{18,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,43}}</string>
                <key>sourceSize</key>
                <string>{18,43}</string>
            </dict>
            <key>p_102_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,44},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>p_102_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{17,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,39}}</string>
                <key>sourceSize</key>
                <string>{17,39}</string>
            </dict>
            <key>p_102_Qian_DangBuShang.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,47},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>p_102_Qian_DangBuXia.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>p_102_Qian_DangBuZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,20},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>p_102_Qian_HouBaiShang.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,44},{43,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,17}}</string>
                <key>sourceSize</key>
                <string>{43,17}</string>
            </dict>
            <key>p_102_Qian_HouBaiXia.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,38},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,24}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>p_102_Qian_HouBaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,43},{44,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,19}}</string>
                <key>sourceSize</key>
                <string>{44,19}</string>
            </dict>
            <key>p_102_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>p_102_Qian_TouFaShang.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,28},{34,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{34,23}</string>
            </dict>
            <key>p_102_Qian_TouFaXia.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>p_102_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,34},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>p_102_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,41},{33,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,21}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>p_102_Qian_YaoDaiYouShang.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,30},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>p_102_Qian_YaoDaiYouXia.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>p_102_Qian_YaoDaiYouZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>p_102_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{46,33}</string>
            </dict>
            <key>p_102_Qian_YaoDaiZuoShang.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>p_102_Qian_YaoDaiZuoXia.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,27},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>p_102_Qian_YaoDaiZuoZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,44},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>p_102_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>p_102_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>p_102_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>p_102_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,47},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>p_102_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,32},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>p_102_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,43}</string>
            </dict>
            <key>p_102_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,48}}</string>
                <key>sourceSize</key>
                <string>{19,48}</string>
            </dict>
            <key>p_102_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>p_102_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,33},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>p_102_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>p_102_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,26},{32,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{32,21}</string>
            </dict>
            <key>p_102_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{17,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,40}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>102ShenPanZhe.pvr.ccz</string>
            <key>size</key>
            <string>{605,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa0995d1f22361945457cdc915f09e39$</string>
            <key>textureFileName</key>
            <string>102ShenPanZhe.pvr.ccz</string>
        </dict>
    </dict>
</plist>
