<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_107_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,55}</string>
            </dict>
            <key>p_107_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>p_107_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>p_107_Ce_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>p_107_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,85},{14,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,31}}</string>
                <key>sourceSize</key>
                <string>{14,31}</string>
            </dict>
            <key>p_107_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{24,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,52}}</string>
                <key>sourceSize</key>
                <string>{24,52}</string>
            </dict>
            <key>p_107_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,108},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>p_107_Ce_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,79},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>p_107_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,37},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{18,40}</string>
            </dict>
            <key>p_107_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,59},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>p_107_Qian_WuQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,42},{9,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,20}}</string>
                <key>sourceSize</key>
                <string>{9,20}</string>
            </dict>
            <key>p_107_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>p_107_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>p_107_Qian_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,81},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>p_107_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,42},{19,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,35}}</string>
                <key>sourceSize</key>
                <string>{19,35}</string>
            </dict>
            <key>p_107_Qian_YaoDaiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,41},{17,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,38}}</string>
                <key>sourceSize</key>
                <string>{17,38}</string>
            </dict>
            <key>p_107_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{28,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,53}}</string>
                <key>sourceSize</key>
                <string>{28,53}</string>
            </dict>
            <key>p_107_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,41},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>p_107_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,79},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>p_107_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,79},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>p_107_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,108},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>p_107_Qian_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,80},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>p_107_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,81},{18,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,40}}</string>
                <key>sourceSize</key>
                <string>{18,40}</string>
            </dict>
            <key>p_107_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,40},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>p_107_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,37},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>p_107_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,40},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>p_107_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,111},{29,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,15}}</string>
                <key>sourceSize</key>
                <string>{29,15}</string>
            </dict>
            <key>p_107_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,78},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>p_107_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,108},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>p_107_Qian_ZuoXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,79},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>p_107_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,37},{21,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,40}}</string>
                <key>sourceSize</key>
                <string>{21,40}</string>
            </dict>
            <key>p_107_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,85},{18,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,36}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>107YouXia.pvr.ccz</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c51530df999d0e90b3ffa1ce6637b0b0$</string>
            <key>textureFileName</key>
            <string>107YouXia.pvr.ccz</string>
        </dict>
    </dict>
</plist>
