<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_214_Ce_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,110},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>p_214_Ce_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,548},{11,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,28}}</string>
                <key>sourceSize</key>
                <string>{11,28}</string>
            </dict>
            <key>p_214_Ce_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,521},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>p_214_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,422},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>p_214_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{29,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{29,44}</string>
            </dict>
            <key>p_214_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,221},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>p_214_Ce_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,501},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>p_214_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,134},{11,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,40}}</string>
                <key>sourceSize</key>
                <string>{11,40}</string>
            </dict>
            <key>p_214_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{32,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,19}}</string>
                <key>sourceSize</key>
                <string>{32,19}</string>
            </dict>
            <key>p_214_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,373},{21,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,47}}</string>
                <key>sourceSize</key>
                <string>{21,47}</string>
            </dict>
            <key>p_214_Qian_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,320},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>p_214_Qian_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,589},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{19,30}</string>
            </dict>
            <key>p_214_Qian_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>p_214_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>p_214_Qian_WuQi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,248},{19,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,44}}</string>
                <key>sourceSize</key>
                <string>{19,44}</string>
            </dict>
            <key>p_214_Qian_WuQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,578},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>p_214_Qian_WuQi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{19,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,41}}</string>
                <key>sourceSize</key>
                <string>{19,41}</string>
            </dict>
            <key>p_214_Qian_WuQi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,87}}</string>
                <key>sourceSize</key>
                <string>{53,87}</string>
            </dict>
            <key>p_214_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>p_214_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,176},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>p_214_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>p_214_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,548},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>p_214_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>p_214_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,294},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>p_214_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,465},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>p_214_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,91},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>p_214_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>p_214_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,46}</string>
            </dict>
            <key>p_214_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>p_214_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>p_214_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>p_214_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,344},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>p_214_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,203},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>p_214_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>p_214_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{26,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,45}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>214KuLouGongShou02.pvr.ccz</string>
            <key>size</key>
            <string>{57,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4958b22f985657c6fda6f230fa009d4a$</string>
            <key>textureFileName</key>
            <string>214KuLouGongShou02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
