<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_500_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,117},{24,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>p_500_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,32},{38,42}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,42}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>p_500_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,113},{28,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,25}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>p_500_Ce_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,72},{23,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{23,39}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>p_500_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,140},{17,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,37}</string>
            </dict>
            <key>p_500_Ce_YaoDaiZhong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>p_500_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,96},{19,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{19,36}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>p_500_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,70},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>p_500_Ce_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,101},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>p_500_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,128},{17,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{17,33}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>p_500_Qian_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,166},{21,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>p_500_Qian_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,147},{21,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{21,24}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>p_500_Qian_DouPeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{14,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{14,29}}</string>
                <key>sourceSize</key>
                <string>{16,37}</string>
            </dict>
            <key>p_500_Qian_DouPeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{28,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{28,51}}</string>
                <key>sourceSize</key>
                <string>{34,57}</string>
            </dict>
            <key>p_500_Qian_DouPeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,161},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{21,25}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>p_500_Qian_DouPengAnSe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,32},{47,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>p_500_Qian_DouPengAnSe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{55,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{55,28}}</string>
                <key>sourceSize</key>
                <string>{61,30}</string>
            </dict>
            <key>p_500_Qian_DouPengAnSe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{75,44}}</string>
                <key>sourceSize</key>
                <string>{79,50}</string>
            </dict>
            <key>p_500_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,107},{25,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>p_500_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{38,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>p_500_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,119},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,21}}</string>
                <key>sourceSize</key>
                <string>{38,23}</string>
            </dict>
            <key>p_500_Qian_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,72},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{27,40}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>p_500_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,74},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>p_500_Qian_YaoDaiZhong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,92},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,25}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>p_500_Qian_YaoDaiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,33},{16,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,38}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>p_500_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,91},{26,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{26,40}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>p_500_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,30},{47,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>p_500_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,87},{18,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>p_500_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,48},{20,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>p_500_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,73},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>p_500_Qian_YouXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{28,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>p_500_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{26,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,49}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
            <key>p_500_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{17,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{17,39}}</string>
                <key>sourceSize</key>
                <string>{21,47}</string>
            </dict>
            <key>p_500_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,96},{19,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{19,36}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>p_500_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,119},{25,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>p_500_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{25,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>p_500_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,146},{18,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>p_500_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,32},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>p_500_Qian_ZuoXiGai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{23,33}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{23,33}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>p_500_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,65},{24,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>p_500_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,142},{17,33}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{17,33}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>500dunzhanshijinzhuang.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d502891f9baab82a7bdb5973e36bdd6b$</string>
            <key>textureFileName</key>
            <string>500dunzhanshijinzhuang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
