<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_101_Qian_WuQi1(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{52,898},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>p_101_Qian_WuQi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,758},{46,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,133}}</string>
                <key>sourceSize</key>
                <string>{46,133}</string>
            </dict>
            <key>p_101_Qian_WuQi2(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>p_101_Qian_WuQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,227},{46,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,133}}</string>
                <key>sourceSize</key>
                <string>{46,133}</string>
            </dict>
            <key>p_101_Qian_WuQi3(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,362},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>p_101_Qian_WuQi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,92},{46,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,133}}</string>
                <key>sourceSize</key>
                <string>{46,133}</string>
            </dict>
            <key>p_101_Qian_WuQi4(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{56,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,76}}</string>
                <key>sourceSize</key>
                <string>{56,76}</string>
            </dict>
            <key>p_101_Qian_WuQi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{53,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,141}}</string>
                <key>sourceSize</key>
                <string>{53,141}</string>
            </dict>
            <key>p_101_Qian_WuQi5(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{60,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,86}}</string>
                <key>sourceSize</key>
                <string>{60,86}</string>
            </dict>
            <key>p_101_Qian_WuQi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,599},{53,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,157}}</string>
                <key>sourceSize</key>
                <string>{53,157}</string>
            </dict>
            <key>p_101_Qian_WuQi6(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{71,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,92}}</string>
                <key>sourceSize</key>
                <string>{71,92}</string>
            </dict>
            <key>p_101_Qian_WuQi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{53,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,157}}</string>
                <key>sourceSize</key>
                <string>{53,157}</string>
            </dict>
            <key>p_101_Qian_WuQi7(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{71,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,83}}</string>
                <key>sourceSize</key>
                <string>{71,83}</string>
            </dict>
            <key>p_101_Qian_WuQi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,440},{53,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,157}}</string>
                <key>sourceSize</key>
                <string>{53,157}</string>
            </dict>
            <key>p_101_Qian_WuQi8(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>p_101_Qian_WuQi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{53,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,157}}</string>
                <key>sourceSize</key>
                <string>{53,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnQiShiWuQi.pvr.ccz</string>
            <key>size</key>
            <string>{123,957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dbe24e40906e074cfa08ac55419cc58$</string>
            <key>textureFileName</key>
            <string>AnQiShiWuQi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
