<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_201_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,86},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,35}}</string>
                <key>sourceSize</key>
                <string>{26,35}</string>
            </dict>
            <key>p_201_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>p_201_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,97},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>p_201_Ce_YaoDai.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,35},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>p_201_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,35},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>p_201_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,43},{20,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,41}}</string>
                <key>sourceSize</key>
                <string>{20,41}</string>
            </dict>
            <key>p_201_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,86},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>p_201_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,37},{21,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,46}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>p_201_Qian_DouPeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,86},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>p_201_Qian_DouPeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>p_201_Qian_DouPeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,37},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,46}}</string>
                <key>sourceSize</key>
                <string>{36,46}</string>
            </dict>
            <key>p_201_Qian_DouPeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>p_201_Qian_DouPeng5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>p_201_Qian_DouPeng6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,39}}</string>
                <key>sourceSize</key>
                <string>{83,39}</string>
            </dict>
            <key>p_201_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,81},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>p_201_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,36},{19,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,71}}</string>
                <key>sourceSize</key>
                <string>{19,71}</string>
            </dict>
            <key>p_201_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{47,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,32}}</string>
                <key>sourceSize</key>
                <string>{47,32}</string>
            </dict>
            <key>p_201_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>p_201_Qian_YaoDai.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{47,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,31}}</string>
                <key>sourceSize</key>
                <string>{47,31}</string>
            </dict>
            <key>p_201_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,75},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>p_201_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,82},{19,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,40}}</string>
                <key>sourceSize</key>
                <string>{19,40}</string>
            </dict>
            <key>p_201_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,38},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>p_201_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,66},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>p_201_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,66},{14,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,32}}</string>
                <key>sourceSize</key>
                <string>{14,32}</string>
            </dict>
            <key>p_201_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,102},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>p_201_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,68},{17,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,39}}</string>
                <key>sourceSize</key>
                <string>{17,39}</string>
            </dict>
            <key>p_201_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{21,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,42}}</string>
                <key>sourceSize</key>
                <string>{21,42}</string>
            </dict>
            <key>p_201_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,34},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>p_201_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,85},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>p_201_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,35},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>p_201_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,86},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,34}}</string>
                <key>sourceSize</key>
                <string>{16,34}</string>
            </dict>
            <key>p_201_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,102},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>p_201_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,67},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>p_201_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,36},{19,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,44}}</string>
                <key>sourceSize</key>
                <string>{19,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daozei2.pvr.ccz</string>
            <key>size</key>
            <string>{345,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c3e3f45cfa8880d5b1ebcca1c368ed0$</string>
            <key>textureFileName</key>
            <string>daozei2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
