<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_229_Ce_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,306},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>p_229_Ce_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,278},{11,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,31}}</string>
                <key>sourceSize</key>
                <string>{11,31}</string>
            </dict>
            <key>p_229_Ce_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,255},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>p_229_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,169},{35,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,52}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>p_229_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,101},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>p_229_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,245},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>p_229_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,247},{30,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,23}}</string>
                <key>sourceSize</key>
                <string>{30,23}</string>
            </dict>
            <key>p_229_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,144},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>p_229_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>p_229_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,291},{18,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,43}}</string>
                <key>sourceSize</key>
                <string>{18,43}</string>
            </dict>
            <key>p_229_Qian_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,311},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>p_229_Qian_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,272},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>p_229_Qian_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,223},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>p_229_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,45},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>p_229_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,155}}</string>
                <key>sourceSize</key>
                <string>{61,155}</string>
            </dict>
            <key>p_229_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>p_229_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>p_229_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>p_229_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>p_229_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>p_229_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,221},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
            <key>p_229_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,306},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>p_229_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,186},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>p_229_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,101},{19,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,41}}</string>
                <key>sourceSize</key>
                <string>{19,41}</string>
            </dict>
            <key>p_229_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,204},{21,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,39}}</string>
                <key>sourceSize</key>
                <string>{21,39}</string>
            </dict>
            <key>p_229_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,140},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>p_229_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,279},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>p_229_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,310},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>p_229_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>p_229_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,159},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EMoWuShi02.pvr.ccz</string>
            <key>size</key>
            <string>{126,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2258a1cc8bbc027f11468c7b445e6fc$</string>
            <key>textureFileName</key>
            <string>EMoWuShi02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
