<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_224_Ce_ShenZi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
            <key>p_224_Ce_ShenZi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>p_224_Ce_ShenZi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,60},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>p_224_Ce_ShenZi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,71},{32,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,53}}</string>
                <key>sourceSize</key>
                <string>{32,53}</string>
            </dict>
            <key>p_224_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,71},{33,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,53}}</string>
                <key>sourceSize</key>
                <string>{33,53}</string>
            </dict>
            <key>p_224_Qian_ShenZi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>p_224_Qian_ShenZi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>p_224_Qian_ShenZi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>p_224_Qian_ShenZi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,74},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>p_224_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,74},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>p_224_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>p_224_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,100},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>p_224_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,45},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>p_224_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,60},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>p_224_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,100},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>p_224_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,60},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengyuansu1.pvr.ccz</string>
            <key>size</key>
            <string>{307,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c84ae3e775280822f420d63eab18ab1a$</string>
            <key>textureFileName</key>
            <string>fengyuansu1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
