<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_225_Ce_ShenZi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,66}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>p_225_Ce_ShenZi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{49,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,56}}</string>
                <key>sourceSize</key>
                <string>{49,56}</string>
            </dict>
            <key>p_225_Ce_ShenZi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,60},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>p_225_Ce_ShenZi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,71},{30,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,51}}</string>
                <key>sourceSize</key>
                <string>{30,51}</string>
            </dict>
            <key>p_225_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,70},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>p_225_Qian_ShenZi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,67}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>p_225_Qian_ShenZi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{60,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,53}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>p_225_Qian_ShenZi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>p_225_Qian_ShenZi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,70},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>p_225_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{31,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,52}}</string>
                <key>sourceSize</key>
                <string>{31,52}</string>
            </dict>
            <key>p_225_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,60},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>p_225_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,98},{21,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>p_225_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,95},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>p_225_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,56},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>p_225_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,103},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>p_225_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,56},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengyuansu2.pvr.ccz</string>
            <key>size</key>
            <string>{291,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd9521f8963d9383c6c7db4fabdc7c9a$</string>
            <key>textureFileName</key>
            <string>fengyuansu2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
