<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_221_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>p_221_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>p_221_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>p_221_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{23,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>p_221_Qian_XiaShen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{15,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,35}}</string>
                <key>sourceSize</key>
                <string>{15,35}</string>
            </dict>
            <key>p_221_Qian_XiaShen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,44},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>p_221_Qian_XiaShen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,39},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>p_221_Qian_XiaShen4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,50},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>p_221_Qian_XiaShen5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,38},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>p_221_Qian_Xiong .png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>p_221_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>p_221_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{31,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,54}}</string>
                <key>sourceSize</key>
                <string>{31,54}</string>
            </dict>
            <key>p_221_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,38},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>p_221_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>p_221_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{25,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,49}}</string>
                <key>sourceSize</key>
                <string>{25,49}</string>
            </dict>
            <key>p_221_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,35},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>p_221_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuoYuanSu02.pvr.ccz</string>
            <key>size</key>
            <string>{337,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bdaafc178488ea0d25b617c931e6f3a$</string>
            <key>textureFileName</key>
            <string>HuoYuanSu02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
