<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_409_Qian_PaoZiXia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{82,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,129}}</string>
                <key>sourceSize</key>
                <string>{82,129}</string>
            </dict>
            <key>n_409_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,394},{27,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,48}}</string>
                <key>sourceSize</key>
                <string>{27,48}</string>
            </dict>
            <key>n_409_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{50,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,159}}</string>
                <key>sourceSize</key>
                <string>{50,159}</string>
            </dict>
            <key>n_409_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,150}}</string>
                <key>sourceSize</key>
                <string>{95,150}</string>
            </dict>
            <key>n_409_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,346},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
            <key>n_409_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,285},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinglingzhanglao.pvr.ccz</string>
            <key>size</key>
            <string>{99,446}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a8a7022948d0b9a82baabde08d92a0$</string>
            <key>textureFileName</key>
            <string>jinglingzhanglao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
