<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_239_Qian_BoZi1(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{41,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,46}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>p_239_Qian_BoZi1(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>p_239_Qian_BoZi1(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>p_239_Qian_BoZi1(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,39},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>p_239_Qian_BoZi2(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{520,69},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>p_239_Qian_BoZi2(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{131,87},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>p_239_Qian_BoZi2(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,34},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>p_239_Qian_BoZi2(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,80},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>p_239_Qian_BoZi3(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{733,50},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>p_239_Qian_BoZi3(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{478,74},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,49}}</string>
                <key>sourceSize</key>
                <string>{40,49}</string>
            </dict>
            <key>p_239_Qian_BoZi3(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,2},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>p_239_Qian_BoZi3(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,2},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>p_239_Qian_BoZi3(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{927,87},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>p_239_Qian_BoZi4(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>p_239_Qian_BoZi4(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{432,75},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>p_239_Qian_BoZi4(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,38},{41,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>p_239_Qian_BoZi4(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,38},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>p_239_Qian_BoZi4(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,41},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>p_239_Qian_BoZi5(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{85,87},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>p_239_Qian_BoZi5(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{227,84},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>p_239_Qian_BoZi5(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{977,44},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>p_239_Qian_BoZi5(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,86},{41,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,30}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>p_239_Qian_BoZi5(5).png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{41,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>p_239_Qian_BoZi6(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>p_239_Qian_BoZi6(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,46}</string>
            </dict>
            <key>p_239_Qian_BoZi6(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{871,2},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>p_239_Qian_BoZi6(4).png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>p_239_Qian_HouDaTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{73,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,83}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>p_239_Qian_HouDaTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>p_239_Qian_HouJiaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,98},{54,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,23}}</string>
                <key>sourceSize</key>
                <string>{54,23}</string>
            </dict>
            <key>p_239_Qian_HouJiaoZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,98},{53,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,23}}</string>
                <key>sourceSize</key>
                <string>{53,23}</string>
            </dict>
            <key>p_239_Qian_HouXiaoTuiYou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,35}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>p_239_Qian_HouXiaoTuiYou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,93},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>p_239_Qian_HouXiaoTuiZuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,96},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>p_239_Qian_HouXiaoTuiZuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,65}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
            <key>p_239_Qian_QianDaTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,84},{51,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,42}}</string>
                <key>sourceSize</key>
                <string>{51,42}</string>
            </dict>
            <key>p_239_Qian_QianDaTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>p_239_Qian_QianJiaoYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,66},{47,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,18}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
            <key>p_239_Qian_QianJiaoZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,86},{46,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,21}}</string>
                <key>sourceSize</key>
                <string>{46,21}</string>
            </dict>
            <key>p_239_Qian_QianXiaoTuiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{35,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,75}}</string>
                <key>sourceSize</key>
                <string>{35,75}</string>
            </dict>
            <key>p_239_Qian_QianXiaoTuiZuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>p_239_Qian_ShenZi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,77}}</string>
                <key>sourceSize</key>
                <string>{79,77}</string>
            </dict>
            <key>p_239_Qian_ShenZi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{66,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,71}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>p_239_Qian_ShenZi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,108}}</string>
                <key>sourceSize</key>
                <string>{81,108}</string>
            </dict>
            <key>p_239_Qian_Tou1(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{358,75},{72,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,51}}</string>
                <key>sourceSize</key>
                <string>{72,51}</string>
            </dict>
            <key>p_239_Qian_Tou1(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{313,81},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>p_239_Qian_Tou2(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{656,50},{75,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,46}}</string>
                <key>sourceSize</key>
                <string>{75,46}</string>
            </dict>
            <key>p_239_Qian_Tou2(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,79},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>p_239_Qian_Tou3(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{78,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,46}}</string>
                <key>sourceSize</key>
                <string>{78,46}</string>
            </dict>
            <key>p_239_Qian_Tou3(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>p_239_Qian_Tou4(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{576,65},{78,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,48}}</string>
                <key>sourceSize</key>
                <string>{78,48}</string>
            </dict>
            <key>p_239_Qian_Tou4(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{966,87},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>p_239_Qian_Tou5(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{779,50},{75,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,44}}</string>
                <key>sourceSize</key>
                <string>{75,44}</string>
            </dict>
            <key>p_239_Qian_Tou5(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,86},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>p_239_Qian_Tou6(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{856,48},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>p_239_Qian_Tou6(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,41},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>p_239_Qian_WeiBa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{51,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,71}}</string>
                <key>sourceSize</key>
                <string>{51,71}</string>
            </dict>
            <key>p_239_Qian_WeiBa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{54,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,61}}</string>
                <key>sourceSize</key>
                <string>{54,61}</string>
            </dict>
            <key>p_239_Qian_WeiBa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,81},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>p_239_Qian_WeiBa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,45},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>p_239_Qian_WeiBa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,74},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>p_239_Qian_WeiBa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,98},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiutoushe.pvr.ccz</string>
            <key>size</key>
            <string>{1282,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfb998640430677ea48e1380857e576b$</string>
            <key>textureFileName</key>
            <string>jiutoushe.pvr.ccz</string>
        </dict>
    </dict>
</plist>
