<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_210_Ce_DangBu.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,158},{16,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,39}}</string>
                <key>sourceSize</key>
                <string>{16,39}</string>
            </dict>
            <key>p_210_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>p_210_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{41,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,47}</string>
            </dict>
            <key>p_210_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,234},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>p_210_Ce_YaoDaiYou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>p_210_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>p_210_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,379},{14,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,42}}</string>
                <key>sourceSize</key>
                <string>{14,42}</string>
            </dict>
            <key>p_210_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>p_210_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,331},{18,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,46}}</string>
                <key>sourceSize</key>
                <string>{18,46}</string>
            </dict>
            <key>p_210_Hou_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>p_210_Hou_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{41,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,47}</string>
            </dict>
            <key>p_210_Hou_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,423},{14,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,31}}</string>
                <key>sourceSize</key>
                <string>{14,31}</string>
            </dict>
            <key>p_210_Qian_DangBuShang.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,111},{16,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,45}}</string>
                <key>sourceSize</key>
                <string>{16,45}</string>
            </dict>
            <key>p_210_Qian_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>p_210_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,456},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>p_210_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,85}}</string>
                <key>sourceSize</key>
                <string>{50,85}</string>
            </dict>
            <key>p_210_Qian_WuQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{33,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,100}}</string>
                <key>sourceSize</key>
                <string>{33,100}</string>
            </dict>
            <key>p_210_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{41,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,47}</string>
            </dict>
            <key>p_210_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>p_210_Qian_YaoDai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>p_210_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,261},{20,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,42}}</string>
                <key>sourceSize</key>
                <string>{20,42}</string>
            </dict>
            <key>p_210_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>p_210_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,585},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>p_210_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,305},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,24}</string>
            </dict>
            <key>p_210_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,199},{16,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,33}}</string>
                <key>sourceSize</key>
                <string>{16,33}</string>
            </dict>
            <key>p_210_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,487},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>p_210_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>p_210_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>p_210_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,530},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>p_210_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,89},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>p_210_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,566},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>p_210_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,620},{22,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,47}}</string>
                <key>sourceSize</key>
                <string>{22,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kuloubing.pvr.ccz</string>
            <key>size</key>
            <string>{64,675}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30314034657beb685fcb9ae9b420984d$</string>
            <key>textureFileName</key>
            <string>kuloubing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
