<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_412_Qian_QunZi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,99}}</string>
                <key>sourceSize</key>
                <string>{57,99}</string>
            </dict>
            <key>n_412_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,269},{23,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>n_412_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{17,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,141}}</string>
                <key>sourceSize</key>
                <string>{17,141}</string>
            </dict>
            <key>n_412_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{52,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,67}}</string>
                <key>sourceSize</key>
                <string>{52,67}</string>
            </dict>
            <key>n_412_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,225},{23,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,42}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>n_412_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laozhenzhang.pvr.ccz</string>
            <key>size</key>
            <string>{61,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70cc4c6b7df9df75b4e28fcb4d48d971$</string>
            <key>textureFileName</key>
            <string>laozhenzhang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
