<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_106_Qian_WuQi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,158},{39,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,154}}</string>
                <key>sourceSize</key>
                <string>{39,154}</string>
            </dict>
            <key>p_106_Qian_WuQi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{45,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,162}}</string>
                <key>sourceSize</key>
                <string>{45,162}</string>
            </dict>
            <key>p_106_Qian_WuQi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,158},{39,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,154}}</string>
                <key>sourceSize</key>
                <string>{39,154}</string>
            </dict>
            <key>p_106_Qian_WuQi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{39,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,154}}</string>
                <key>sourceSize</key>
                <string>{39,154}</string>
            </dict>
            <key>p_106_Qian_WuQi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{39,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,154}}</string>
                <key>sourceSize</key>
                <string>{39,154}</string>
            </dict>
            <key>p_106_Qian_WuQi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,2},{39,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,154}}</string>
                <key>sourceSize</key>
                <string>{39,154}</string>
            </dict>
            <key>p_106_Qian_WuQi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{39,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,154}}</string>
                <key>sourceSize</key>
                <string>{39,154}</string>
            </dict>
            <key>p_106_Qian_WuQi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,314},{50,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,192}}</string>
                <key>sourceSize</key>
                <string>{50,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MoJianShiWuQi.pvr.ccz</string>
            <key>size</key>
            <string>{125,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4e2c3b5ece0fd00f6980d7c99d6f4cd$</string>
            <key>textureFileName</key>
            <string>MoJianShiWuQi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
