<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n_410_Qian_QunXia.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,104}}</string>
                <key>sourceSize</key>
                <string>{77,104}</string>
            </dict>
            <key>n_410_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,66},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>n_410_Qian_YaoDaiShang.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{87,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,62}}</string>
                <key>sourceSize</key>
                <string>{87,62}</string>
            </dict>
            <key>n_410_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,66},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>n_410_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,95},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>n_410_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,66},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shijiechuansongshi.pvr.ccz</string>
            <key>size</key>
            <string>{170,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a52f353ac5f6d1fc4a73108dbaf7575f$</string>
            <key>textureFileName</key>
            <string>shijiechuansongshi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
