<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_216_Ce_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,273},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>p_216_Ce_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,355},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>p_216_Ce_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,209},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>p_216_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{31,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,35}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>p_216_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>p_216_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>p_216_Ce_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>p_216_Ce_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,533},{12,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,45}}</string>
                <key>sourceSize</key>
                <string>{12,45}</string>
            </dict>
            <key>p_216_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>p_216_Ce_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{21,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,52}}</string>
                <key>sourceSize</key>
                <string>{21,52}</string>
            </dict>
            <key>p_216_Qian_DangBu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,161},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>p_216_Qian_DangBu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,56},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>p_216_Qian_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>p_216_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>p_216_Qian_WuQi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{30,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,160}}</string>
                <key>sourceSize</key>
                <string>{30,160}</string>
            </dict>
            <key>p_216_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>p_216_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,518},{11,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{11,27}</string>
            </dict>
            <key>p_216_Qian_YaoDaiZhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>p_216_Qian_YouDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,426},{17,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,38}}</string>
                <key>sourceSize</key>
                <string>{17,38}</string>
            </dict>
            <key>p_216_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,395},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>p_216_Qian_YouShangBi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,92},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>p_216_Qian_YouShangBi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{11,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,25}}</string>
                <key>sourceSize</key>
                <string>{11,25}</string>
            </dict>
            <key>p_216_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>p_216_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,547},{14,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,33}}</string>
                <key>sourceSize</key>
                <string>{14,33}</string>
            </dict>
            <key>p_216_Qian_YouXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,466},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>p_216_Qian_ZuoDaTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,241},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>p_216_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,511},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>p_216_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,301},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>p_216_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,334},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>p_216_Qian_ZuoXiaoBi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,186},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>p_216_Qian_ZuoXiaoBi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,127},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>p_216_Qian_ZuoXiaoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{29,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,46}}</string>
                <key>sourceSize</key>
                <string>{29,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shiwu.pvr.ccz</string>
            <key>size</key>
            <string>{64,593}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f617980a41c9936895f5f8a8808056e5$</string>
            <key>textureFileName</key>
            <string>shiwu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
