<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_223_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,33},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>p_223_Ce_XiaShen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,55}}</string>
                <key>sourceSize</key>
                <string>{65,55}</string>
            </dict>
            <key>p_223_Ce_XiaShen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{84,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,49}}</string>
                <key>sourceSize</key>
                <string>{84,49}</string>
            </dict>
            <key>p_223_Ce_XiaShen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,34},{95,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,27}}</string>
                <key>sourceSize</key>
                <string>{95,27}</string>
            </dict>
            <key>p_223_Ce_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,35},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>p_223_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>p_223_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,32},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>p_223_Qian_XiaShen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{72,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,53}}</string>
                <key>sourceSize</key>
                <string>{72,53}</string>
            </dict>
            <key>p_223_Qian_XiaShen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{90,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,50}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>p_223_Qian_XiaShen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{97,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,29}}</string>
                <key>sourceSize</key>
                <string>{97,29}</string>
            </dict>
            <key>p_223_Qian_Xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>p_223_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,24},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>p_223_Qian_YouJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>p_223_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,32},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>p_223_Qian_YouShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{23,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{23,46}</string>
            </dict>
            <key>p_223_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{17,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,20}}</string>
                <key>sourceSize</key>
                <string>{17,20}</string>
            </dict>
            <key>p_223_Qian_ZuoJian.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,25},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>p_223_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>p_223_Qian_ZuoShou.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>p_223_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuiyuansu2.pvr.ccz</string>
            <key>size</key>
            <string>{618,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e01d5c3323b6d3cdb8450e2dc759f30c$</string>
            <key>textureFileName</key>
            <string>shuiyuansu2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
