<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_218_Ce_Kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,83},{72,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,31}}</string>
                <key>sourceSize</key>
                <string>{72,31}</string>
            </dict>
            <key>p_218_Ce_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,81}}</string>
                <key>sourceSize</key>
                <string>{90,81}</string>
            </dict>
            <key>p_218_Ce_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,78},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{61,29}</string>
            </dict>
            <key>p_218_Ce_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,85},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>p_218_Ce_YouTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,72},{38,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,43}}</string>
                <key>sourceSize</key>
                <string>{38,43}</string>
            </dict>
            <key>p_218_Kua_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,83},{60,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,31}}</string>
                <key>sourceSize</key>
                <string>{60,31}</string>
            </dict>
            <key>p_218_Qian_Tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{89,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,79}}</string>
                <key>sourceSize</key>
                <string>{89,79}</string>
            </dict>
            <key>p_218_Qian_Yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{59,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,27}}</string>
                <key>sourceSize</key>
                <string>{59,27}</string>
            </dict>
            <key>p_218_Qian_YouJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>p_218_Qian_YouShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{50,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,74}}</string>
                <key>sourceSize</key>
                <string>{50,74}</string>
            </dict>
            <key>p_218_Qian_YouTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,31},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>p_218_Qian_YouXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{54,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,79}}</string>
                <key>sourceSize</key>
                <string>{54,79}</string>
            </dict>
            <key>p_218_Qian_ZuoJiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,85},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>p_218_Qian_ZuoShangBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{42,66}</string>
            </dict>
            <key>p_218_Qian_ZuoTui.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,70},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>p_218_Qian_ZuoXiaoBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TuYuanSu01.pvr.ccz</string>
            <key>size</key>
            <string>{444,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9939f886f904cdd4b83c69403f20ef46$</string>
            <key>textureFileName</key>
            <string>TuYuanSu01.pvr.ccz</string>
        </dict>
    </dict>
</plist>
