<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p_100_Qian_WuQi16(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,166}}</string>
                <key>sourceSize</key>
                <string>{98,166}</string>
            </dict>
            <key>p_100_Qian_WuQi16(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{54,634},{44,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,172}}</string>
                <key>sourceSize</key>
                <string>{44,172}</string>
            </dict>
            <key>p_101_Qian_WuQi16(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{54,503},{46,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,129}}</string>
                <key>sourceSize</key>
                <string>{46,129}</string>
            </dict>
            <key>p_101_Qian_WuQi16(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{50,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,101}}</string>
                <key>sourceSize</key>
                <string>{50,101}</string>
            </dict>
            <key>p_102_Qian_WuQi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,808},{42,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,143}}</string>
                <key>sourceSize</key>
                <string>{42,143}</string>
            </dict>
            <key>p_103_Qian_WuQi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,321},{43,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,180}}</string>
                <key>sourceSize</key>
                <string>{43,180}</string>
            </dict>
            <key>p_104_Qian_WuQi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{28,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,81}}</string>
                <key>sourceSize</key>
                <string>{28,81}</string>
            </dict>
            <key>p_105_Qian_WuQi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{53,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,158}}</string>
                <key>sourceSize</key>
                <string>{53,158}</string>
            </dict>
            <key>p_106_Qian_WuQi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{50,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,160}}</string>
                <key>sourceSize</key>
                <string>{50,160}</string>
            </dict>
            <key>p_107_Qian_WuQi16(1).png</key>
            <dict>
                <key>frame</key>
                <string>{{69,225},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>p_107_Qian_WuQi16(2).png</key>
            <dict>
                <key>frame</key>
                <string>{{32,713},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>p_107_Qian_WuQi16(3).png</key>
            <dict>
                <key>frame</key>
                <string>{{69,170},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>p_108_Qian_WuQi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{58,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,38}}</string>
                <key>sourceSize</key>
                <string>{58,38}</string>
            </dict>
            <key>p_109_Qian_WuQi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,280},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>p_110_Qian_WuQi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>p_111_Qian_WuQi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{33,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,158}}</string>
                <key>sourceSize</key>
                <string>{33,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YingXiongJinZhuangWuQi.pvr.ccz</string>
            <key>size</key>
            <string>{102,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dc3b4ea2f84a1998ade091339614276$</string>
            <key>textureFileName</key>
            <string>YingXiongJinZhuangWuQi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
