<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>portrait_female_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,4},{152,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,150}}</string>
                <key>sourceSize</key>
                <string>{152,150}</string>
            </dict>
            <key>portrait_female_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,160},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>portrait_female_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,160},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>portrait_female_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,160},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>portrait_male_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,4},{152,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,150}}</string>
                <key>sourceSize</key>
                <string>{152,150}</string>
            </dict>
            <key>portrait_male_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,160},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>portrait_male_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,264},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>portrait_male_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,264},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>portrait_male_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,264},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>portrait_npc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,264},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>test_chat_npc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{345,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,362}}</string>
                <key>sourceSize</key>
                <string>{345,362}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>portrait0.pvr.ccz</string>
            <key>size</key>
            <string>{769,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:440ffee3480de92c9e68acdce37b35cd:1/1$</string>
            <key>textureFileName</key>
            <string>portrait0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
