<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,168},{320,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,119}}</string>
                <key>sourceSize</key>
                <string>{320,119}</string>
            </dict>
            <key>battleop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,4},{133,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,145}}</string>
                <key>sourceSize</key>
                <string>{133,145}</string>
            </dict>
            <key>battleop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,451},{302,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,131}}</string>
                <key>sourceSize</key>
                <string>{302,131}</string>
            </dict>
            <key>battleop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,206},{146,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,123}}</string>
                <key>sourceSize</key>
                <string>{146,123}</string>
            </dict>
            <key>battleop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{342,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,158}}</string>
                <key>sourceSize</key>
                <string>{342,158}</string>
            </dict>
            <key>battleop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,293},{307,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,152}}</string>
                <key>sourceSize</key>
                <string>{307,152}</string>
            </dict>
            <key>dunpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,623},{206,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,232}}</string>
                <key>sourceSize</key>
                <string>{206,232}</string>
            </dict>
            <key>jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,588},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>operation_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,588},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>operation_arrow_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,155},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>operation_redin.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,861},{137,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,136}}</string>
                <key>sourceSize</key>
                <string>{137,136}</string>
            </dict>
            <key>operation_redout.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,861},{137,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,136}}</string>
                <key>sourceSize</key>
                <string>{137,136}</string>
            </dict>
            <key>operation_round1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,335},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>operation_round2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,479},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>operation_round3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,861},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle0.pvr.ccz</string>
            <key>size</key>
            <string>{491,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:922bb80a85e8e295821f399810e5f487:1/1$</string>
            <key>textureFileName</key>
            <string>battle0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
