<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangcun_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,602},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>huangcun_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,146},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>huangcun_lv1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,146},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>huangcun_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,602},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>huangcun_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,562},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>huoshan_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,562},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>huoshan_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,146},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>huoshan_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,866},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>huoshan_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>huoshan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,562},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>huoshan_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,498},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>jiaotang_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,498},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>jiaotang_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,722},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>jiaotang_lv2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,578},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>jiaotang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,498},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>jiaotang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,458},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>jingjichang_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,458},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>jingjichang_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,434},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>jingjichang_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,290},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>jingjichang_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,874},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>jingjichang_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,730},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>jingjichang_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>jingjichang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,458},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>jingjichang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,394},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>junying_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,394},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>junying_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,586},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>junying_lv3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,442},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>junying_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,394},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>junying_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,354},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>muyuan_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,354},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>muyuan_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,298},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>muyuan_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,154},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>muyuan_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>muyuan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,354},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>muyuan_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,290},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>senlin_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,290},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>senlin_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,146},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>senlin_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>senlin_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>senlin_lv4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>senlin_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>senlin_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,290},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>senlin_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,250},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>xiaozhen_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,250},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>xiaozhen_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>xiaozhen_lv5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>xiaozhen_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,250},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>xiaozhen_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,146},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>zhaoze_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,146},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>zhaoze_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>zhaoze_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>zhaoze_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>zhaoze_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,142}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,142}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>zhaoze_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,150}</string>
            </dict>
            <key>zhaoze_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,146},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>zhaoze_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stage.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e98d016c618cc5f7263f94effb3996a$</string>
            <key>textureFileName</key>
            <string>stage.pvr.ccz</string>
        </dict>
    </dict>
</plist>
