<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuangshi_male_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{486,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,444}}</string>
                <key>sourceSize</key>
                <string>{486,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuangshi3.pvr.ccz</string>
            <key>size</key>
            <string>{494,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35031b6a70ed1da511c481b95e734504:4/4$</string>
            <key>textureFileName</key>
            <string>zhuangshi3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
