<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scroll_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{21,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,63}}</string>
                <key>sourceSize</key>
                <string>{21,63}</string>
            </dict>
            <key>scroll_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,4},{328,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,20}}</string>
                <key>sourceSize</key>
                <string>{328,20}</string>
            </dict>
            <key>slider_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,30},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>slider_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,30},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>slider_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,30},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>slider_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,4},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scroll0.pvr.ccz</string>
            <key>size</key>
            <string>{429,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b033e8808296b2c408c404b6a6a2f8c:1/1$</string>
            <key>textureFileName</key>
            <string>scroll0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
