<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huodong_dianshichengjin_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_dianshichengjin_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,4},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_dianshichengjin_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,4},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_dihouqixi_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,4},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_dihouqixi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,4},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_dihouqixi_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,4},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_huangjiazhuangbei_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,4},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_huangjiazhuangbei_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,4},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_huangjiazhuangbei_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,100},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_huodongfuben_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,100},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_huodongfuben_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,100},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_huodongfuben_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,100},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_huodongjiangli_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,100},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_huodongjiangli_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,100},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_huodongjiangli_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,100},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jinbiaosai_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,100},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jinbiaosai_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,196},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jinbiaosai_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,292},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jingcaihuodong_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,388},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jingcaihuodong_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,484},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jingcaihuodong_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,580},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jingjichang_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,676},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jingjichang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,772},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jingjichang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,868},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jinjijunqing_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,196},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jinjijunqing_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,196},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_jinjijunqing_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,196},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_juqingguanqia_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,196},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_juqingguanqia_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,196},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_juqingguanqia_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,196},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_meiridenglu_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,196},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_meiridenglu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,292},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_meiridenglu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,388},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_meirihuodong_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,484},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_meirihuodong_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,580},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_meirihuodong_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,676},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_pkhuodong_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,772},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_pkhuodong_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,868},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_pkhuodong_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,292},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_richanghuodong_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,292},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_richanghuodong_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,292},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_richanghuodong_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,292},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_richangrenwu_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,292},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_richangrenwu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,292},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_richangrenwu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,388},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shijieboss_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,484},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shijieboss_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,580},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shijieboss_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,676},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shilianzhita_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,772},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shilianzhita_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,868},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shilianzhita_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,388},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shouchongdali_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,388},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shouchongdali_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,388},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shouchongdali_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,388},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shuijingzengsong_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,388},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shuijingzengsong_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,484},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_shuijingzengsong_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,580},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_tiantipaihang_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,676},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_tiantipaihang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,772},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_tiantipaihang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,868},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_tiaozhanguanqia_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,484},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_tiaozhanguanqia_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,484},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_tiaozhanguanqia_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,484},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_xieefusheng_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,484},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_xieefusheng_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,580},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_xieefusheng_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,676},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_youxigonglve_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,772},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_youxigonglve_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,868},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_youxigonglve_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,580},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_yuansujinghua_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,580},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_yuansujinghua_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,580},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_yuansujinghua_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,676},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_zhencaishoulie_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,772},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_zhencaishoulie_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,868},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>huodong_zhencaishoulie_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,676},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity0.pvr.ccz</string>
            <key>size</key>
            <string>{786,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:867dbea086cc4981b2499dfbb398e459:1/1$</string>
            <key>textureFileName</key>
            <string>activity0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
